[2017-10-10 21:06] zanhecht opened #1 "Code does not recognize the Draft: namespace"
The bot, likely because it grabs namespace names from an outdated database originally from toolserver, does not recognize the Draft: namespace. As a result, a link to [[Draft:Example]] is inserted into the list page as [[::Example]]. Not only does this link not work, it clogs up https://en.wikipedia.org/wiki/Special:LintErrors/multi-colon-escape

[2017-10-11 05:41] kelson42 commented on #1
@zanhecht What is the problematic symptom?

[2017-10-11 06:14] zanhecht commented on #1
See
https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Draft_links

The tool doesn't appear to know the name of the draft namespace on the
English Wikipedia, so an article that should be linked as [[:Draft:
Example]] is being linked as [[:: Example]].

This is filling up the lint error logs designed to catch wikilinks with two
leading colons, which the latest version med

[2017-10-11 20:31] zanhecht commented on #1
Actually, it seems to fail on any namespace other than the main namespace (likely because it is trying to pull the names from the toolserver database that no longer exists). Therefore, any assessed page not in mainspace (such as templates, categories, files, etc.) will produce a broken link with two leading colons.

[2017-11-12 11:10] kelson42 commented on #1
@zanhecht I have updated the database of namespaces (added "Draft" related namesapces). So, I guess it should work now (maybe wait 1/2 days to get the page updated). Please re-open the ticket if not.

[2017-11-12 11:10] #1 closed

[2017-11-20 17:32] kelson42 opened #2 ""talk" links seems broken"
https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Zambia_articles_by_quality_log#November_19.2C_2017

They redirect to the corresponding article. Namespace seems to always be empty.

[2018-01-14 12:22] kelson42 commented on #2
This has been fixed.

[2018-01-14 12:22] #2 closed

[2018-01-14 20:11] kelson42 opened #3 "Certain articles are always reassessed in logs"
Like "Clément Roques" in https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Catholicism_articles_by_quality_log#Reassessed

More details at https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index/Archive_8#Long_term_snafu_caused_by_duplicate_project_tags

This problem might be related too https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/

[2018-01-14 20:22] kelson42 opened #4 "Encoding problem with the "Māori" project"
See https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index/Archive_8#WP_1.0_Bot_bug

[2018-01-14 21:10] kelson42 commented on #4
Should be fixed.

[2018-01-14 21:10] #4 closed

[2018-01-15 13:16] kelson42 opened #5 "Publish one file per project with the score for WPEN"

[2018-01-23 01:53] kelson42 opened #6 "Few quality logs are not updated"
See https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team#Bot_running_again--but_not_for_certain_WPs?

[2018-01-28 14:27] kelson42 commented on #6
This has been fixed last week.

[2018-01-28 14:27] #6 closed

[2018-10-21 23:35] AfroThundr3007730 opened #7 "WP 1.0 Bot stops & not create logs"
From phabricator [T207599](https://phabricator.wikimedia.org/T207599):

and [Wikipedia:Version 1.0 Editorial Team/Saints articles by quality log](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Saints_articles_by_quality_log).

[2018-10-21 23:44] AfroThundr3007730 opened #8 "WP 1.0 Bot stops & not create logs"
From phabricator [T207559](https://phabricator.wikimedia.org/T207599)

and [Wikipedia:Version 1.0 Editorial Team/Saints articles by quality log](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Saints_articles_by_quality_log).

[2018-10-22 20:33] audiodude commented on #8
Duplicate of #7

[2018-10-22 20:33] #8 closed

[2019-01-17 04:12] walkerma opened #9 "Assessment logs are not updated anymore"
The "Release Version Tools" on en:WP are working normally except for the assessment logs.  See https://tools.wmflabs.org/enwp10/cgi-bin/log.fcgi.  I'm not sure if this is connected to the WP1 Bot not updating the logs, but it could be.  If you are fixing the WP1 bot, please check this as well, to make sure it's working.  See https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/I

[2019-07-16 07:41] kelson42 commented on #7
@audiodude Do you think this is still a current problem? What should we do with this ticket?

[2019-07-16 07:43] kelson42 commented on #5
Here it is https://download.kiwix.org/wp1/enwiki_2019-05/projects/. The score are not written, but they are sorted decreasingly by score.

[2019-07-16 07:43] #5 closed

[2019-07-16 07:44] kelson42 commented on #3
@audiodude The problem I see now, is that this page is meanwhil not updated at all anymore.

[2019-07-16 15:58] audiodude commented on #7
Yes definitely still a problem. I believe a wikipedia admin protected the logging tables so that the current bot can't even attempt to update them.

[2019-07-16 16:02] audiodude commented on #3
That's right. As I mentioned in #7, an admin has protected the logging tables to prevent the old bot from updating them because it was so broken.

I believe the solution is the full re-write unfortunately.

[2019-07-16 16:04] audiodude commented on #7
In my opinion #3 , #9 and this issue all represent the same underlying problem. They should be merged or all closed in favor of opening a new task. There is no interesting information in any of these bugs, they all just say "logs aren't working" in one form or another.

[2019-07-16 16:10] AfroThundr3007730 commented on #7
Every log page linked from the index were protected on Dec 6 [citing bot issues](https://en.wikipedia.org/wiki/Special:Log?type=protect&user=Gonzo+fan2007&page=&wpdate=2018-12-07&tagfilter=&subtype=) which are now buried in an archive. If the issues with the bot have been fixed, we could simply ping Gonzo fan2007 about unprotecting all those pages

[2019-07-16 16:14] audiodude commented on #7
Unfortunately, to our knowledge, the issues are not fixed.

[2019-07-17 05:28] kelson42 commented on #7
@audiodude What kind of information about the underlying problem do you have? Why do you believe that having rewritting the WP1 bot collector part does not fix the problem?

[2019-08-01 03:42] kelson42 commented on #9
We will have to rewrite the upload part of the WP1 bot to fix that one. Work on this milestone will start soon.

[2019-08-01 03:43] kelson42 commented on #9
Duplicate of #7

[2019-08-01 03:43] #9 closed

[2019-08-01 03:45] kelson42 commented on #7
We will have to rewrite the upload part of the WP1 bot to fix bugs related to that log. Work on this milestone will start soon. Then we could request the page protection from these log page.

[2019-08-10 14:36] audiodude opened #12 "global_articles table update is currently disabled"
You can see it copied from the original Perl and commented out here:
https://github.com/openzim/wikimedia_wp1_bot/blob/master/lucky/lucky/logic/project.py#L358

This is likely to cause the Global Table (https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/OverallArticles) to have incorrect data.

[2019-08-10 14:36] audiodude commented on #12
I don't see any reason why to not turn this back on.

[2019-08-11 06:11] audiodude opened #16 "Documentation says to use credentials.py, but db string is taken from ~/replica.my.cnf"
The documentation in the README says that credentials.py should be updated. This database connection string was used in previous versions of the lucky bot that used SQLAlchemy. However, with the change to use pymysql directly, the DB string in credentials.py is no longer explicitly used.

This will cause breakage with Dockerization.

[2019-08-11 10:28] audiodude opened #18 "The 'release update' is currently disabled"
The old bot had logic for updating the `releases` table in the wp 1.0 database. This code is currently not running. It has not been ported over to the new lucky bot and it's unclear if it is needed or not.

[2019-08-11 10:29] audiodude opened #19 "The 'reviews update' code is currently disabled"
The old bot had code for updating 'reviews' as part of the update process. This code has not been migrated to the new bot and is currently not running.

It is unclear what the impact of this is, if any.

[2019-08-11 10:32] audiodude commented on #19
It looks like this and #18 are both related to a table that kept track of whether certain articles were in an releases/reviews category, and the timestamp

[2019-08-11 12:56] #16 closed

[2019-08-12 09:31] kelson42 opened #21 "Create a small script to start the update workers"
This script will be called from the update Docker container entry point

[2019-08-12 09:48] kelson42 opened #22 "Secure that we don't schedule new update jobs if queue is not empty"

[2019-08-13 10:39] kelson42 commented on #22
Done with https://github.com/openzim/wikimedia_wp1_bot/commit/5e098dd2900c4ce77a17dde477fddd8ac87efacd

[2019-08-13 10:39] #22 closed

[2019-08-13 10:40] kelson42 commented on #21
This has been done with `supervisor`

[2019-08-13 10:40] #21 closed

[2019-08-13 10:42] kelson42 commented on #19
@walkerma Do you know why we had this feature? What was it doing in detail? Do you think this is a problem to get rid of it?

[2019-08-13 10:42] kelson42 commented on #18
@walkerma Do you know why we had this feature? What was it doing in detail? Do you think this is a problem to get rid of it?

[2019-08-13 12:58] audiodude opened #23 "Consider opening db connection and configuring logging outside of worker function"
We might use https://python-rq.org/docs/workers/#custom-worker-classes to do this.

[2019-08-13 15:54] walkerma commented on #19
Whilst I never saw the details of the code, I think the "Release" feature was used to keep track of whether a specific article was included in a release, such as WP 0.5 or WP 0.7.  Before, when you generated a list such as https://tools.wmflabs.org/enwp10/cgi-bin/list2.fcgi?run=yes&projecta=Chemistry&namespace=&pagename=&quality=&importance=&score=&showExternal=on&limit=500&offset=1&sorta=Score&so

[2019-08-14 05:37] walkerma commented on #18
Please see my answer to no. 19.  It was for keeping track of new 1.0 series releases, but it's probably not needed in the new bot (and I'm probably the only person besides you who would care!).

[2019-08-14 08:09] audiodude opened #26 "There is no cron entry for generating the global table"
The Docker image has a cron entry for enqueue-all.py, which adds all projects to the work queue for update and upload. However, there is nothing that adds the global table to the work queue. This could perhaps be added to enqueue-all, or added to cron as a separate script.

[2019-08-14 08:14] audiodude opened #27 "Project paths are being generated using bytes instead of string"
The project paths under User:WP 1.0 on WIkipedia are being generated with b'Project_Name' in the path, for example:

https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/b%27Pinball%27

We should either decode the name before creating the paths, or decode the name altogether before starting the upload process (since there are other place where we have to decode the name).

[2019-08-14 10:12] #27 closed

[2019-08-14 10:17] audiodude commented on #23
Logging into the API too frequently was a definite problem, which was addressed in https://github.com/openzim/wikimedia_wp1_bot/commit/042022cce8ceecae7f303a39175b22a28485777a with a custom worker script. This script could also configure logging and get a db connection.

However, the db connection would have to be made into a global object again, as opposed to using the _connect() functions which

[2019-08-14 11:52] audiodude opened #30 "Cleanup phony articles created by bytes bug"
The bot created about 500 pages with the wrong name, due to #27. Here is a non-exhaustive list: https://en.wikipedia.org/w/index.php?limit=100&title=Special%3AContributions&contribs=user&target=WP+1.0+bot&namespace=&tagfilter=&newOnly=1&start=2019-08-13&end=2019-08-14

We should clean these up.

[2019-08-14 12:35] audiodude commented on #30
These pages have been marked with a user page speedy deletion tag: https://en.wikipedia.org/w/index.php?limit=250&title=Special%3AContributions&contribs=user&target=WP+1.0+bot&namespace=&tagfilter=&topOnly=1&start=2019-08-14&end=2019-08-14

[2019-08-14 12:35] #30 closed

[2019-08-14 13:45] audiodude opened #32 "Investigate irregular log for project 'AfC'"
Here's a snippet of the log:

[code]

It then proceeds to search the API for move/redirect data for all 90,000 pages in the project, which is very expensive.

[2019-08-14 14:36] audiodude commented on #26
Fixed by https://github.com/openzim/wikimedia_wp1_bot/commit/47b8feb080979d98ed71422d183eb2dd247913f9

[2019-08-14 14:36] #26 closed

[2019-08-14 18:48] kelson42 opened #34 "Database SQL schema"
I don't know/see where is the Database initialisation SQL file. We should have one to be able to resetup the project in case we "loose" our database.

[2019-08-14 19:08] audiodude commented on #34
We have a couple of backups that I made before enabling the new bot for the first time. I'm sure I could extract a schema.sql from that. Shall I put it in the root directory?

[2019-08-14 19:12] kelson42 commented on #34
@audiodude Thx, that would be perfect to have the schema in a subdirectory `setup`.

[2019-08-15 06:05] audiodude commented on #34
Fixed with https://github.com/openzim/wikimedia_wp1_bot/commit/0172937176f3cc8e27de8ca03de261df3de2633b

[2019-08-15 06:05] #34 closed

[2019-08-15 10:21] audiodude opened #43 "New bot doesn't update project "Count" page"
There is a script that is supposed to update [this Wikipedia Page](https://en.wikipedia.org/wiki/User:WP_1.0_bot/Data/Count).

It lived at:
https://github.com/openzim/wikimedia_wp1_bot/blob/toolforge/backend/copy_count.pl

We are currently not doing any such action with the new bot (though it would be easy to add back in), but it doesn't seem to matter because the old bot script seemed to be broke

[2019-08-15 10:24] audiodude opened #44 "Use "real" cron/crontab instead of cron.daily"
The docker container [start.sh for workers](https://github.com/openzim/wikimedia_wp1_bot/blob/master/docker/workers/start.sh#L9) adds data to the cron.daily directory.

Unfortunately, it is unclear when that cron entry gets run (besides sometimes vaguely "daily") and so far it hasn't seemed to run at all.

Let's write a real crontab file instead.

[2019-08-15 12:30] audiodude opened #45 "New table generation loses category links in column headers"
As you can see in this screenshot of the diff:
![image](https://user-images.githubusercontent.com/57832/63094572-21bcbf80-bf69-11e9-8016-dca0e7bf11cd.png)

The row titles of the new tables are missing the |category= parameter in order to create links to the actual category.

[2019-08-15 14:35] #44 closed

[2019-08-15 18:54] audiodude opened #47 "Develop some system for dealing with edit rate limits"
It is common to get the following exception in the upload worker:

[code]

Clearly our edit actions are being rate limited by WIkipedia, and we should figure out a way to avoid hitting it.

[2019-08-16 07:22] audiodude opened #48 "Put Wikipedia revision_id in the logging table"
As I was rewriting the log update portion of the tool, I added code for looking up the revision id of the revision that modified the rating of the article. Once I added this code, the log update took about 5-10 times longer to run.

Perhaps we can get this information during update time (or maybe even we already have it available) and can avoid this lengthy lookup.

[2019-08-16 08:12] kelson42 opened #49 "Assessment logs should be written in Redis instead of the database"
That way we could:
* Speed up the writting/reading process of logs
* Secure easily that old logs are not saved for years without any reason
* Better SW architecture where temporary data are stored in temporary storage

[2019-08-16 08:33] kelson42 opened #50 "Women's Cricket table is broken"
See:
* https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Women%27s_cricket
* https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#User:WP_1.0_bot/Tables/Project/Women's_cricket

[2019-08-16 08:36] kelson42 commented on #7
FYI https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Logs_will_be_back_soon!

[2019-08-16 11:14] audiodude opened #51 "Bot adds "Template:NotA-Class" to tables, should be '''Other'''"
From Wikipedia:

[2019-08-16 11:18] audiodude opened #52 "Bot doesn't record logs for new assessments"
When creating a new rating, the bot doesn't add a log.

[2019-08-16 12:01] #52 closed

[2019-08-17 04:42] audiodude opened #56 "Upload worker gets logged out after some period"
We have logic that the worker script does its log in "pre-fork", that is, before any job is run. So all jobs run by the worker share a login.

However, it seems to be the case that after maybe 24 hours, the worker is logged out and all upload jobs fail.

One potential solution to this is to wrap the api edit method such that if it gets an authentication error it tries to log in again. This could p

[2019-08-17 07:17] audiodude opened #58 "Retry code not working, probably should remove"
The retry worker that was added is not running properly. It doesn't seem detrimental to the operation of the tool, but it is basically useless and should be removed.

We will need another solution to #47.

[2019-08-17 07:32] #56 closed

[2019-08-17 07:57] #45 closed

[2019-08-17 07:59] #51 closed

[2019-08-17 14:52] audiodude commented on #47
As a temporary solution, we're thinking of going down to one upload worker, since the upload tasks complete so quickly anyways (relative to the update ones).

[2019-08-18 05:47] kelson42 commented on #12
@audiodude Yes, and I think you already have.

[2019-08-18 05:48] kelson42 commented on #43
@walkerma Do you have an opinion on this?

[2019-08-18 08:58] audiodude opened #62 "Consider using a wiki template for each line of the log file"

[2019-08-18 09:09] kelson42 commented on #62
@audiodude Can you please give me an example line of wiki code I should templify?

[2019-08-18 09:41] audiodude commented on #62
[code]

Where "reassessed" is also a variable (could be "assessed").

The format of the template is:

[code]

Note that I'm using \( and \) to indicate parens that should appear in the output (versus ones I just used in my template psuedo-code). Also note that either Quality or Importance can be missing.

[2019-08-20 17:15] #12 closed

[2019-08-21 02:01] walkerma commented on #43
I just saw this- sorry!  It's hard for me to answer, because I don't remember that wiki page even existing.  I see from the history that it recorded the total no. of wikiprojects, but I don't know the purpose of that.  I'm guessing Carl needed it for some reason.  Do you need me to do anything?

[2019-08-21 02:31] audiodude commented on #43
Just needed your knowledge on the matter.

Like I said, it's been blank for ages (before we started the new bot) so I don't think it matters. Let's keep this issue for reference and move on without it.

[2019-08-21 03:24] audiodude opened #69 "API login retry logic not working"
The retry logic that was added in https://github.com/openzim/wikimedia_wp1_bot/commit/d5769dd3c25888cd8a42c4ef3c8e4786c932bb2d is not working.

Here is the relevant snippet from the logs:
[code]

My current best guess, from looking at the mwclient code, is that the `page` object keeps a reference to the site it was pulled from, so that logging in again on the global site object perhaps doesn't do

[2019-08-21 03:36] audiodude commented on #69
This is, of course, why the bot didn't upload any tables today.

[2019-08-21 04:12] audiodude commented on #69
I've restarted the upload worker and requeued the failed jobs. Some of them that failed were also update jobs, which seem to have some kind of stale database connection as well.

[2019-08-21 06:26] kelson42 commented on #43
@audiodude @walkerma This page is still in use [here](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Index) to say how many wikiprojects we have. The page is currently broken because we have an empty template.

[2019-08-21 08:38] kelson42 commented on #50
@audiodude Unfortunately, it seems the bug has reappeared

[2019-08-22 03:14] audiodude opened #71 "update_global_articles_table is not "thread safe""
We are now getting the following MySQL exception, about 1% of the time:

[code]

It's happening in the `update_global_articles_table` method. This is clearly not "thread safe" in the sense that multiple worker jobs can run it at the same time, since it is updating a global table.

Instead of updating the global table after each individual project update, we should instead run a separate update job

[2019-08-22 03:35] #50 closed

[2019-08-22 03:53] audiodude opened #72 "Logs not properly read/written when article gets moved"
For context, see the discussion [on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Logs_will_be_back_soon!)

Basically, when a page gets moved, the new page gets written to the logs as moved, but then the next day it appears as a "new" page which has "just been assessed". This could either be a problem with writing the logs (aka the actual logging

[2019-08-22 03:57] audiodude opened #73 "Some articles inexplicably given NotA-Class, show up in table as "Other""
For more context, see the [discussion on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Glitches)

For an example, see the "Other" column at [this version](https://en.wikipedia.org/w/index.php?title=User:WP_1.0_bot/Tables/Project/Mammal&oldid=911930463) of the WikiProject Mammal table. It lists [Pestivirus](https://en.wikipedia.org/w/index.php?titl

[2019-08-23 02:11] #71 closed

[2019-08-23 02:24] audiodude opened #76 "Double check that "extra" categories are working for WikiProjects"
There has been a definitive report on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Draft-Class?) that the `Draft-Class` is not being reported in the project tables. As stated in the discussion, this is not a default category, but can be added as an "extra" category by the project editors.

We should investigate that the code is successfully pars

[2019-08-23 16:00] #76 closed

[2019-08-23 21:58] #43 closed

[2019-08-24 00:45] audiodude commented on #69
The attempted fix (no-op token refresh) didn't work. Next step is to fork the mwclient repo and attempt a fix there.

[2019-08-24 01:19] audiodude commented on #69
I tried replicating some of the code that I use in api.py in a simple script so I could inspect the results. Interestingly, I got the following when trying the second login attempt:

[code]

I think the answer might just be to throw out the entire mwclient Site object when a retry is necessary.

[2019-08-24 01:55] audiodude opened #81 "Simply restart the upload workers when the enqueue-all cron job starts"
This will handle the issues seen in #23 and #69.

[2019-08-24 01:59] #69 closed

[2019-08-24 02:05] audiodude commented on #81
FIxed by #82

[2019-08-24 02:05] #81 closed

[2019-08-24 23:17] audiodude opened #83 "Duplicate logs when adding a new rating"
Based on the discussion [on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Logs_will_be_back_soon!), it has come to light from writing the WikiProject Automobile log page that there are some duplicate logs for newly assessed pages.

Looking in the project database, I definitely see those duplicates:
[code]

[2019-08-24 23:39] #83 closed

[2019-08-25 05:13] kelson42 commented on #7
@audiodude Maybe we could close that ticket now?

[2019-08-25 16:21] audiodude commented on #7
I haven't merged the log creation code yet, because I was waiting for the p0 update/upload bugs to be fixed. There's also #72 which I'd like to investigate before we start updating logs.

[2019-08-25 17:16] audiodude commented on #48
Although there is `page_latest` from the enwiki_p `page` table, which represents the revid of the latest page at the time we are walking through them, it won't work for our purposes because we currently use the `cl_timestamp` which is the time that the page was added to the category. The `page_latest` could be a more recent revision if the page was edited after it was added to the category, wherea

[2019-08-25 17:16] #48 closed

[2019-08-25 19:14] #47 closed

[2019-08-25 19:14] audiodude commented on #58
Done in #88

[2019-08-25 19:14] #58 closed

[2019-08-26 00:39] audiodude opened #89 "Logs for some WikiProjects show articles getting reassessed every day"
https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/American_animation_articles_by_quality_log

The log shows the same articles, which appear to probably be every article in the project, being reassessed every day. Investigate this.

[2019-08-26 00:40] audiodude commented on #89
https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/American_Civil_War_articles_by_quality_log

American Civil War articles seem to have the same problem.

[2019-08-26 00:41] audiodude commented on #89
Similar problem here:

https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Adelaide_articles_by_quality_log

And this is just the A's. Looks pretty widespread.

[2019-08-26 00:44] audiodude opened #90 "Consider putting a "no logs" message instead of just blanking the page"
For logs like this: https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Acoustics_articles_by_quality_log

It appears to an observer that we are just blanking the page. Consider putting a message like  "there are no logs for the period Aug 17-Aug 24 2019" instead.

[2019-08-26 00:47] audiodude opened #91 "Comment made it into assessment tables"
Looking at any table from today:

![image](https://user-images.githubusercontent.com/57832/63658564-3f0b3e00-c760-11e9-829a-25f7fb1bd647.png)

What was supposed to be a code comment to preserve trailing whitespace turned into literal text that got included in the output wikicode.

[2019-08-26 00:51] #91 closed

[2019-08-26 13:39] kelson42 commented on #90
@audiodude Sounds a good idea. I propoer "No changes detected in the last few days, maybe tomorrow..."

[2019-08-26 16:28] audiodude opened #93 "Catholicism log update failed with a unique 'None-type' error"
[code]

We assume that no log entry has a None for l_old, because of the way they are set up in the update job. Need to investigate.

[2019-08-27 16:11] audiodude opened #94 "WikiProject custom categories aren't showing up in tables"
In #77 we fixed the retrieval of "extra" categories for WikiProjects. Those categories should now be properly updating and exist in the ratings table.

However, they seem to be not showing up in the project assessment tables, specifically for WikiProject Film (see [discussion here](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Draft-Class?)).

We need to investigate

[2019-08-27 16:14] #7 closed, assigned to audiodude

[2019-08-28 01:10] audiodude opened #95 "Some log update pages are too big"
We have code to limit a single day's updates from being too big, but if all of the updates are cumulatively too big we get the following error:

[code]

There's a few things we could do in this case:

1. We could check the literal byte size of the proposed page and post a "sorry, updates too big" message instead
2. Alternately, we could check the byte size and then start stripping out older days u

[2019-08-28 20:18] audiodude opened #96 "Category:Foo moves get reported as Category:Category:Foo_moved"
See the discussion [on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Bug_report-_moving_categories_results_in_double-namespaced_target_link) about this.

[Here's](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Video_game_articles_by_quality_log#Aug_25,_2019) an example.

Could be a problem with update or upload, either one.

[2019-08-28 21:17] PresNCode commented on #96
Note: also seems to happen with Draft:Foo -> Draft:Draft:Foo; may be an issue with any non-mainspace (aka prefixed) page move.

[2019-08-30 06:15] kelson42 opened #97 "Rename repository to wp1_engine"
This code base is not only a Wikipedia bot, only 1/3 of it is. This will also be less and less the case as we will probably extend it to allow better selection/curation. Therefore, I propose to rename it to `wp1_engine`. This is only a technical part of a more broader change to better name this effort and increase awareness around the effort.

Remark: I know that "Wikipedia 1.0" is as well a name

[2019-08-30 08:51] RogueScholar commented on #73
I'm seeing this happen currently with [WikiProject Schools](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Schools), specifically with [all of the articles](https://tools.wmflabs.org/enwp10/cgi-bin/list2.fcgi?run=yes&projecta=WikiProject_Schools&quality=NotA-Class) we place in the Draft category, even after they get moved out of the Draft namespace to Main namespace as you can see currently w

[2019-08-30 12:59] walkerma commented on #97
I don't have any problem with the rename to wp1_engine.  Renaming the actual WP1 project can wait for now!

[2019-08-30 16:58] audiodude commented on #73
@RogueScholar there was a discussion [on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Draft-Class?) about this recently. The short answer is, Draft-Class is not a default classification for any WikiProject and has to be configured on a per project basis. Basically, you need to add the following to [your main quality page](https://en.wikipedia.org

[2019-08-31 04:36] GeoffreyTrang opened #98 "Show date headers with the full name of the month instead of the three-letter abbreviation"
It appears that log pages like [Wikipedia:Version 1.0 Editorial Team/Years articles by quality log](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Years_articles_by_quality_log) currently show the three-letter abbreviations of the months in date headers. Previously, the full name of the month was shown. Please consider switching back to the full names of the months in date head

[2019-08-31 04:40] GeoffreyTrang opened #99 "Show links to images as "File:" links instead of "Image:" links"
Links to images and their talk pages in log pages like [Wikipedia:Version 1.0 Editorial Team/Biography articles by quality log](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Biography_articles_by_quality_log) are currently shown with the "Image:" and "Image talk:" prefixes. They should instead use the "File:" and "File talk:" prefixes.

[2019-08-31 05:39] audiodude commented on #97
@kelson42 why not rename it to just /wp1 ?

[2019-09-01 16:08] kelson42 commented on #89
Another one https://en.wikipedia.org/w/index.php?title=Wikipedia:Version_1.0_Editorial_Team/Saints_articles_by_quality_log&oldid=913442816

[2019-09-01 16:21] GeoffreyTrang opened #100 "Show dates without leading zeros"
Welcome to the month of September! Now, I can see that log pages like [Wikipedia:Version 1.0 Editorial Team/Years articles by quality log](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Years_articles_by_quality_log) currently show leading zeros in date headers for the first nine days of a month. Please make the date headers not show leading zeros.

[2019-09-02 18:05] kelson42 commented on #3
The codebase generating that problem does not exist anymore, but the problem is not fixed. That said, this ticket is superseeded by #89.

[2019-09-02 18:05] #3 closed

[2019-09-02 18:06] kelson42 commented on #99
@GeoffreyTrang Why? What is better with "File:"? Is that always become the naming is semantically better? or do we have additional features?

[2019-09-02 18:15] GeoffreyTrang commented on #99
"File:" should be used because it it the current name of the namespace. If you think that "Image:" should be a separate namespace from "File:" (rather than merely an alias) in MediaWiki, then you may create a task on [Phabricator](https://phabricator.wikimedia.org/) and start an RFC seeking consensus.

[2019-09-02 18:21] audiodude commented on #99
So I take it that at some point Image: got renamed to File: and the bot is too old and didn't get the memo.

The namespace mappings are statically stored in the application database, so this explains both why this bug survived the rewrite and how we can easily change it.

[2019-09-02 18:25] kelson42 commented on #99
Yes. There is no user impact, but would be nicer.

[2019-09-04 17:58] audiodude opened #101 "Update error, duplicate key issue"
When updating project 'Football', we got the following stack trace:

[code]

This looks like a move insert that had already been processed. We're *suppposed* to be doing insert_or_update, but there must be a flaw in the logic.

[2019-09-04 18:01] audiodude opened #102 "Make sure to use db.ping() basically everywhere"
We still have a few "lost connection to MySQL server" errors happening sporadically. To combat those, we should ping pretty much every time before we write to the db. In this case, we should probably ping before we start processing the logs upload. Stack trace follows.

[code]

[2019-09-04 18:02] audiodude commented on #102
Or maybe these are unavoidable?

[2019-09-04 18:11] audiodude commented on #89
@walkerma if you look at the first example of this I showed, it's actually a problem with Unknown-Class it seems: https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/American_animation_articles_by_quality_log

This example also looks like a lot of problems with Unknown-Class:
https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Adelaide_articles_by_quality_log

[2019-09-05 11:50] kelson42 commented on #97
done

[2019-09-05 11:50] #97 closed

[2019-09-06 22:10] PresNCode commented on #96
Files do something a bit different: "Image:NEOGEO Spin Master (Miracle Adventure).png renamed to Image:File:NEOGEO Spinmaster (Miracle Adventure).png"

[2019-09-09 22:41] #96 closed

[2019-09-09 23:51] #94 closed

[2019-09-10 01:49] audiodude commented on #98
Fixed by #106

[2019-09-10 01:49] #98 closed

[2019-09-10 01:50] audiodude commented on #100
Fixed by #106

[2019-09-10 01:50] #100 closed

[2019-09-10 01:54] audiodude commented on #93
Saw this happen with Military History today too:

[code]

[2019-09-10 01:56] audiodude commented on #93
I think the reason for this is that we assume that the "project cleanup" task, part of the update job, runs for all projects. So all projects should have NotA-Class instead of a literal NULL for their 'new' and 'old' log values. However this is clearly not always the case.

[2019-09-10 06:39] kelson42 commented on #89
Should be fixed now

[2019-09-10 06:39] #89 closed

[2019-09-10 07:11] kelson42 commented on #62
I have created a stub here https://en.wikipedia.org/wiki/User:WP_1.0_bot/l.

But we still need to handle the assessed/reassessed and the quality/importance. @audiodude This makes 4 possibilities right? I wonder if we should be doing that directly in Lua... otherwise the rendering might be slow(er) (except if we do 4 different templates).

[2019-09-10 17:23] audiodude commented on #62
4 different templates means there's still a lot of processing being done in Python code. I think one of the potential advantages of a template is that it can be called "blindly" from Python and the template has the logic. Along those lines, I think Lua is probably the best choice, to do if-then statements (I know these are also possible in standard wiki templates but from what I've seen, they are

[2019-09-10 17:46] kelson42 commented on #62
@audiodude We agree... ParserFunctions are "really complex"... and really slow. Will try to make my first Lua template.

[2019-09-10 18:46] #95 closed

[2019-09-10 19:20] #93 closed

[2019-09-10 19:46] #90 closed

[2019-09-13 16:58] audiodude commented on #23
Not sure why this was assigned to me, I closed it last night: won't fix.

[2019-09-17 03:09] audiodude opened #114 "Reimplement "custom" tables"
When I killed the old bot, there was some "custom" table code that went by the wayside. From what I could tell at the time, this code was not used anywhere.

However a user of this code has shown up [on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#User:WP_1.0_bot/Tables/Custom/Roads-1_not_updating). There may be more too.

We should re-evaluate h

[2019-09-17 11:21] walkerma commented on #114
Do you know a technical way to find out the users of the code?  Or is the a question I should put in my mass message when I've got the list finished? Walkerma

[2019-09-18 03:46] audiodude opened #115 "Use "Importance" instead of "Class" for importance ratings in logs"
See the discussion [on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Wording_Bug)

[2019-09-18 03:55] audiodude commented on #114
I think that I can figure it out with technical forensics, so to speak.

I think putting out a call for "hey who has a custom table?" is a recipe for everyone to come out of the woodwork and say "Ooooh I had this custom table 4 years ago can I have it again??" and then we have to support a bunch of weird edge cases.

[2019-09-19 15:10] audiodude opened #116 "Project update is choking on Custom categories"
For some projects, like Astronomy, we're getting:

[code]

With similar errors for say 'Draft-Class' in QUALITY ratings.

Other projects like Australia don't seem to specify a 'replaces' property, which we assumed to be present:

[code]

This leads to around 210 update failures, which is about a 10% error rate.

[2019-09-22 02:04] #116 closed

[2019-09-29 15:28] audiodude opened #119 "Australia log failed with None importance l_new value"
The following was in the logs from yesterday:

[code]

Since we're already guarding against l_old being None (see #108), clearly the l_new value is what is None in this case.

[2019-09-29 15:43] #119 closed

[2019-09-29 16:03] kelson42 opened #121 "Monitor the solution"
We have already a minimal monitoring (using uptimerobot) based on the simple availability of a web page. But using this we can not detect:
* Bot errors (both managed and unmanaged)
* Web page rendering errors

For this we need a solution able to monitor the logs of the applicationn.

[2019-09-29 16:03] kelson42 commented on #121
Something like https://icinga.com/

[2019-10-13 10:54] kelson42 opened #122 "Introduce French WP1 evaluations gathering"

[2019-10-13 22:11] #102 closed

[2019-10-21 21:22] kelson42 commented on #73
@audiodude Is this bug report still valid? I can not see the bug described in the ticket any more in recent version of the table.

[2019-10-21 21:23] kelson42 commented on #72
@audiodude What is the status on this ticket? Do we have a strategy to implement?

[2019-10-21 21:24] kelson42 commented on #101
@audiodude Still a bug?

[2019-10-21 21:33] audiodude commented on #72
@kelson42 It needs investigation, there's no root cause identified currently.

[2019-10-21 21:34] audiodude commented on #73
@kelson42 The [current version](https://en.wikipedia.org/w/index.php?title=User:WP_1.0_bot/Tables/Project/Mammal&oldid=922269548) of the table as of this writing does, in fact, have 3 articles being classified as Other. I assume that's the same issue.

[2019-10-21 21:36] audiodude commented on #101
@kelson42 I haven't seen this one happen recently. We could close it as not reproducible, and wait for it to happen again to re-open.

[2019-10-21 21:51] audiodude commented on #101
And of course, as I look in the logs I find the following (Murphy's Law):

[code]

[2019-10-21 21:51] audiodude commented on #101
It looks like it has something to do with non-ASCII characters

[2019-11-28 03:52] kelson42 opened #126 "wp1.openzim.org does not use HTTP compression"
* https://wp1.openzim.org https://www.whatsmyip.org/http-compression-test/?url=aHR0cHM6Ly93cDEub3BlbnppbS5vcmc=
* https://api.wp1.openzim.org https://www.whatsmyip.org/http-compression-test/?url=aHR0cHM6Ly9hcGkud3AxLm9wZW56aW0ub3Jn

[2019-11-28 03:52] kelson42 commented on #126
See also https://github.com/openzim/zimfarm/issues/332 (for the solution)

[2019-11-30 04:18] audiodude commented on #126
Check the URLs again:

https://www.whatsmyip.org/http-compression-test/?url=aHR0cHM6Ly93cDEub3BlbnppbS5vcmc=

https://www.whatsmyip.org/http-compression-test/?url=aHR0cHM6Ly9hcGkud3AxLm9wZW56aW0ub3Jn

Compression now verified.

[2019-11-30 04:18] #126 closed

[2020-01-27 18:22] audiodude opened #133 "Update READMEs to discuss overall architecture and dev setup"
The main README discusses the python worker portion as if its the only part of the code (and as if you could conceivably run it locally).

This should be cleaned up to discuss the architecture of the app more broadly, and how the Docker containers work within that architecture.

The wp1-frontend/README.md should also contain information on not only how to run the frontend development server, but h

[2020-02-01 05:08] audiodude opened #137 "Create a proper development environment"
A few weeks ago I met with someone who was interested in collaborating on the project. However, he was immediately put off by the lack of a proper development environment. To tell the truth, I mostly depend on unit tests to make sure the code is correct (which is fine in and of itself), and when developing the web frontend, I use ssh tunnels to the live "production" databases (which is more proble

[2020-02-08 10:54] kelson42 opened #141 "Introduce Arabic WP1 evaluations gathering"
See https://ar.wikipedia.org/wiki/%D9%88%D9%8A%D9%83%D9%8A%D8%A8%D9%8A%D8%AF%D9%8A%D8%A7:%D9%85%D8%B4%D8%B1%D9%88%D8%B9_%D9%88%D9%8A%D9%83%D9%8A_%D8%B7%D8%A8. That would allow us to get native Wikimed selection

[2020-03-04 22:32] audiodude commented on #114
So looking at the old `custom_tables.pl` file, it seems there are simply a number of, as you would expect, custom tables that each have their own code for generating them. The code is here:

https://github.com/openzim/wp1/blob/toolforge/backend/custom_tables.pl

There was a flat file, `Custom.tables.dat` that was used to configure these, including the wikipedia page that they updated and the custo

[2020-03-04 22:34] audiodude commented on #114
At the very least, the new framework for storing metadata about custom tables should include:

- The user who requested the custom table
- The date at which it was first implemented, and
- A brief description of what it is and what it contains.

[2020-03-10 05:57] audiodude opened #151 "Frontend doesn't generate table for projects with multiple spaces"
Due to the fact that Javascript's string "replace" method only replaces the first occurrence of a character, the code to transform the project name "United States Constitution" into the project ID "United_States_Constitution" fails, and returns "United_States Constitution".

This causes a 404 error when sending the ID to the server.

[2020-03-10 06:03] #151 closed

[2020-03-29 20:16] audiodude opened #160 "Frontend: Biography project times out, consider caching"
When you request the Biography table on the WP1 frontend, you can see in the network tab that it runs the request for a certain amount of time, then seems to time out. This makes sense, since the number of articles in the table is so large.

The old system had an elaborate caching mechanism for the project tables, where the data was stored in Maria. We might consider implementing something similar

[2020-03-29 20:17] audiodude opened #161 "Frontend: Implement spinner for slower projects"
While some projects timeout completely (see #160), others are simply a bit slow but still return results. We could consider implementing a spinner when the project tables are being loaded.

If we implement the caching mechanism described in #160, this would probably be a moot point because everything would be returned so quickly. But it might be nice to have anyways, as a visual indication that th

[2020-04-01 02:57] #160 closed

[2020-04-14 04:57] #161 closed

[2020-05-14 14:13] kelson42 opened #168 "Implement manual update"
This is a feature which is available in the old WP1 engine and is widely used. We need to provide it before shutdowning the old WP1 engine.

[2020-05-14 14:21] kelson42 opened #169 "Upload links in wiki code to point to wp1.openzim.org"
An stop pointing to the old WP1 engine. This is a measure to prepare the phaseout of old Perl based WP1 engine.

[2020-05-14 14:23] kelson42 commented on #168
We need have some kind of security to avoid a DOS here.

[2020-05-14 16:26] walkerma opened #170 "Add navigation component to the WP1 Web tool"
Please add some navigation capability to the WP1 web tool, to allow users to switch easily between different features.  Breadcrumb links might be useful too.
Label: enhancement
Milestone: 2.0

[2020-05-14 18:35] kelson42 opened #171 "Integrate WP1 selection tools"
Available at https://github.com/openzim/wp1_selection_tools
Using the Python framework.

[2020-05-21 01:56] audiodude commented on #133
I believe the latest updates to the README address this sufficiently.

[2020-05-21 01:56] #133 closed

[2020-05-24 01:47] audiodude opened #173 "Provide a separate queue for manual updates"
Once #172 lands, users will be able to kick off manual updates. However, since it is using the same queues as the regular site updates, during the 6 hours that the job is running during the day, the manual update will just go to the back of these queues and be lost.

We should provide a separate queue just for manual updates so they can be completed at any time.

[2020-05-24 01:51] audiodude opened #174 "Give the user feedback on Manual Update progress"
Once #173 is fixed, we should be able to store the rq job id of the update job in Redis. At the very least, we can let the user know the status of the job, whether it is scheduled, in progress, complete, or failed.

Additionally, we could also instrument the actual update code so that it increments a counter in Redis of how many pages it has updated. If we do that, we could provide a progress bar

[2020-05-24 02:22] audiodude opened #175 "Include talk page links and article revisions in articles list on frontend"
The current tool includes talk page links for both the current article and its update revisions. It also includes a history link for the current article. For feature parity, we should include these in the new frontend.

<img width="882" alt="Screen Shot 2020-05-23 at 7 21 03 PM" src="https://user-images.githubusercontent.com/57832/82744253-a9223500-9d2a-11ea-8195-1e40f5ffed5f.png">

[2020-05-24 20:19] #170 closed

[2020-05-24 20:19] #168 closed

[2020-05-24 20:22] #173 closed

[2020-05-25 21:22] audiodude opened #177 "Frontend article listing links don't work"
They link to:

`https://en.wikipedia.org/wiki/index.php?title=Claire%20Egtvedt`

Instead of:

`https://en.wikipedia.org/w/index.php?title=Claire%20Egtvedt`

[2020-05-31 20:36] #177 closed

[2020-05-31 20:42] audiodude opened #180 "Create a banner on the new wp1 page"
The banner should explain the following:

- You're on the new version of the WP1 management tool
- The old version can be found at <link>
- Feedback should be left at <link>

This banner could go on the top or bottom of the page. It could also be dismissible, maybe it could show up once per day?

"Welcome to the latest version of the WP1.0 tool! If you need a feature that is only in the old tool,

[2020-05-31 20:57] audiodude opened #181 "Stop polling when the manual update page is left"
When testing manual update progress just now, I noticed that an update that I didn't allow to complete was still polling the backend after I had left the page.

We should prevent this from happening.

[2020-05-31 21:00] audiodude opened #182 "Make sure upload jobs work as part of manual update"
Since there's no way to test upload jobs in development (there's no fake wiki we can update), we have to debug this in production.

It appears currently that updating is working but uploading (project tables, project logs) is not.

[2020-05-31 21:03] audiodude opened #183 "RQ dashboard not available in production"
The URL at which it would be is giving a 404.

[2020-05-31 21:08] audiodude commented on #182
This seems to have worked for my Catholicism update, but not the updates I did previously of Water and Modern Philosophy. Maybe there's some condition in the latter projects that prevents them from being uploaded? Should keep an eye on this.

<img width="1023" alt="Screen Shot 2020-05-31 at 2 06 56 PM" src="https://user-images.githubusercontent.com/57832/83362703-23187680-a348-11ea-9582-2247fb8e9c

[2020-06-04 06:22] kelson42 opened #184 "Manual update should be stricter about the project name"
It is possible to ask for a manual update for a project which does not exist and there is no error displayed.

Example:
https://wp1.openzim.org/#/update/Paris

We could:
Anything typed in the project input text should be checked against the valid projects and if it is not in the list there is no "Manual update" button. That would allow to remove the "Select Project" button as weel and simplify the

[2020-06-07 21:19] audiodude opened #186 "Don't allow user to start a new manual update if one is in progress, even if it's been over an hour"
Currently there is a "lock" on manual updates, which is the next_update_time, which is set to 60 minutes after the initial update is requested. However, if the rq job is still being processed at that time, we should not allow a new manual update because it will just queue up behind the currently executing one.

[2020-06-07 21:50] audiodude commented on #174
This was fixed by #178

[2020-06-07 21:50] #174 closed

[2020-06-07 21:51] audiodude commented on #183
False alarm. I was looking for it on the frontend server, when it's actually attached to the api server.

[2020-06-07 21:51] #183 closed

[2020-06-07 21:55] #181 closed

[2020-06-07 22:29] #180 closed

[2020-06-08 22:52] audiodude commented on #186
Oops, wrong issue.

[2020-06-08 22:53] #184 closed

[2020-06-08 22:57] #169 closed

[2020-06-08 23:09] audiodude opened #193 "Shutdown old WP1 engine 1.0"
Currently, we have completed the following:

- #169 (make links in tables on Wikipedia point to new frontend)
- #180 (put a welcome message on the new tool)

This should mean that some amount of traffic that used to hit the old frontend, from clicking those links, will now hit the new frontend. And editors who wind up on the new frontend page will know where to go to leave feedback and feature req

[2020-06-08 23:32] audiodude opened #194 "Projects that don't use importance can't be listed in new frontend"
See http://wp1.openzim.org/#/project/Roger%20Waters/articles?quality=Start-Class

[2020-06-08 23:32] audiodude commented on #194
Compare that to https://tools.wmflabs.org/enwp10/cgi-bin/list2.fcgi?run=yes&projecta=Roger_Waters&quality=Start-Class

[2020-06-08 23:36] #194 closed

[2020-06-09 04:29] audiodude opened #196 "Global table hasn't updated since March 8 2020"
The [Global table](https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/OverallArticles) hasn't updated since March. Likely something got updated that broke the [enqueue global](https://github.com/openzim/wp1/blob/master/enqueue-global.py) script.

[2020-06-09 04:37] #196 closed

[2020-06-09 04:37] audiodude commented on #196
This will be deployed tomorrow morning (pacific time) to avoid potentially disrupting the update in progress.

[2020-06-10 20:29] audiodude opened #198 "Frontend: Non-article and non-main namespace articles getting linked incorrectly"
It looks like we are missing `File:` and `Wikipedia:` prefixes, among others. From the [report on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#WikiProject_Lakes_-_files_and_other_items_don't_link_correctly_-_missing_article_title_prefixes)

[2020-06-12 19:11] brierjon opened #199 "Frontend: contrast of links fail accessibility WCAG 2.1 standard"
Running WebAIM and Chrome Lighthouse Accessibility audit both report contrast issues with the color used for links.

WAVE extension can be run against the page to see elements with issues - https://wave.webaim.org/extension/
Accessibility standard - https://www.w3.org/TR/WCAG21/#contrast-minimum

[2020-06-12 19:12] kelson42 commented on #199
@brierjon I think you have reported your ticket in the wrong repository

[2020-06-12 19:13] kelson42 commented on #199
@brierjon If no, which page of the WP1 engine you complain about exactly? I think a screenshot would be helpful.

[2020-06-12 19:16] brierjon commented on #199
@kelson42 Definitely the right repo, I'm also the one who posted the missing prefixes in issue 198.  This accessibility issue applies to https://wp1.openzim.org/#/project/Lakes main table, and table lists.

WebAIM report on the table grid and list:
![image](https://user-images.githubusercontent.com/717866/84538289-adba8780-acf1-11ea-9af6-4c7480484805.png)
![image](https://user-images.githubusercon

[2020-06-12 19:18] kelson42 commented on #199
@brierjon Thank you very much

[2020-06-13 18:54] audiodude opened #200 "Frontend: Clicking the project name in the masthead doesn't take you to the home page"
1. If I'm on http://wp1.openzim.org/#/project/Modern%20philosophy/articles?quality=B-Class&importance=High-Class
1. And I click the title, "Wikipedia 1.0 Server"

Expected Result:
Go back to the main page of the project

Actual Result:
No navigation happens.

[2020-06-13 19:12] #198 closed

[2020-06-13 19:28] #200 closed

[2020-06-13 19:34] #199 closed

[2020-06-15 08:49] kelson42 commented on #193
Yes, ASAP IMO.

Yes, in a month if nobody complains so far.

Yes, in two months if nobody complains.

@walkerma Sounds good to you?

[2020-06-20 03:56] audiodude commented on #193
The banner has been added to the old tool: https://tools.wmflabs.org/enwp10/cgi-bin/table2.fcgi

[2020-06-20 20:39] audiodude opened #204 "Frontend: Bootstrap styles visited links with the same color as unvisited"
This was reported on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#CSS_of_links)

It probably makes it hard to see which articles you have reviewed from the article table, or which pages you've visited from the project table.

[2020-06-20 20:43] audiodude opened #205 "Frontend: Custom pagination"
As reported on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Suggestions).

User is requesting the ability to specify the page to start from and the number of results to display for page. If we provide the latter, we definitely need to cap it, maybe 500 would work.

[2020-06-20 20:45] audiodude opened #206 "Frontend: Allow users to provide sorting options on article page"
This was reported on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Suggestions).

User requests the ability to sort articles by title, date, importance, etc.

[2020-06-20 21:35] #204 closed

[2020-06-22 09:34] kelson42 commented on #171
@audiodude One of a first step would be maybe to integrate its source with the same repository and put it in the `docker-compose.yml` ?

[2020-06-22 20:30] #175 closed

[2020-06-25 18:42] audiodude opened #209 "Frontend: Don't display "NotA", use "---" instead for article tables"
See the [report on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#%22NotA%22).

[2020-06-27 16:54] audiodude commented on #137
In the linked PR we implemented docker-compose-dev.yml which spins up a dev database that the development frontend can connect to.

I think the next step would be to somehow have a docker image of a working Mediawiki installation that was set up for API editing. That way, in development you could actually create and edit project tables.

[2020-06-27 17:32] audiodude opened #210 "Link to Wikipedia category in article table header"
Where it says "Modern philosophy articles - Mid importance / Stub quality", Mid Importance can link to https://en.wikipedia.org/wiki/Category:Mid-importance_Modern_philosophy_articles and Stub quality can link to https://en.wikipedia.org/wiki/Category:Stub-Class_Modern_philosophy_articles

[2020-06-27 18:16] #210 closed

[2020-06-29 13:59] kelson42 commented on #137
Something like this? https://hub.docker.com/r/openzim/mediawiki

[2020-06-29 20:26] audiodude commented on #137
Yes that seems extremely useful! I would still have to make a new Docker image based on that image that had API editing enabled, and I'm not entirely sure how to do that. Still, the fact that the standard Mediawiki docker image requires interactive installation was a major hangup.

Thanks!

[2020-06-30 07:59] kelson42 commented on #137
@audiodude You can activate the API via the configuration file, something you need to have anyway. I don't think you need to create a new Docker image.

[2020-06-30 15:46] audiodude commented on #137
Ah okay, thanks for the guidance!

[2020-07-09 17:12] audiodude opened #213 "Frontend: put article table pagination at top and bottom of article list"
As requested on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#more_results_truncated_and_link_to_table_category)

[2020-07-09 18:53] #213 closed

[2020-07-11 13:22] kelson42 commented on #101
This bug is going to be a blocker I believe if we want to consider using the WP1 engine with a few other Wikipedias. Probably the test should be extended to secure the WP1 engine can deal properly with accented characerts. With MySQL usually a few things need to be checket:
* tables charset/collation
* DB default charset/collation
* Connection encoding

[2020-07-21 00:28] #205 closed

[2020-07-21 01:07] #209 closed

[2020-07-22 01:56] audiodude opened #218 "Frontend: Back link on articles page has wrong encoding for project name"
As reported on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Table_link_bug).

[2020-07-22 02:04] #218 closed

[2020-07-25 16:28] audiodude commented on #169
This is already done.

[2020-07-30 22:16] Rosiestep opened #220 "User:WP 1.0 bot"
The bot isn't updating this table (User:WP 1.0 bot/Tables/Project/Women writers) and hasn't been since about July 27, 2020: https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Women_writers

Thanks in advance.

[2020-07-30 23:23] audiodude commented on #220
I don't see any failures in the logs for that project. It looks like someone did a bunch of "manual" updates with the old tool: [1](https://en.wikipedia.org/w/index.php?title=User:WP_1.0_bot/Tables/Project/Women_writers&oldid=970090438) [2](https://en.wikipedia.org/w/index.php?title=User:WP_1.0_bot/Tables/Project/Women_writers&oldid=970091228) [3](https://en.wikipedia.org/w/index.php?title=User:WP

[2020-07-31 07:48] kelson42 commented on #220
@Rosiestep I see updates each day since July 27 at https://en.wikipedia.org/w/index.php?title=User:WP_1.0_bot/Tables/Project/Women_writers&action=history.

[2020-07-31 12:42] Rosiestep commented on #220
The problem is that the "bot update" is occurring but the statistics aren't changing accurately. I am doing hundreds of article reviews/updates (Importance and/or Quality) each day, but the changes I'm making on the article talkpages aren't reflected in the numbers showing up on the table since July 27.

[2020-08-01 21:35] audiodude commented on #220
@Rosiestep can you provide a few examples of articles that you updated/re-classified, just so I know where to look?

[2020-08-02 01:13] Rosiestep commented on #220
Thank you in advance, and here you go:

* https://en.wikipedia.org/w/index.php?title=Talk%3ASusan_Chitabanta&type=revision&diff=970054317&oldid=968478741
* https://en.wikipedia.org/w/index.php?title=Talk%3AAnna_Leonowens&type=revision&diff=970069228&oldid=968538679
* https://en.wikipedia.org/w/index.php?title=Talk%3ADian_Fossey&type=revision&diff=970069307&oldid=968536680
* https://en.wikipedia.or

[2020-08-02 03:35] audiodude commented on #220
Looking at [the diff](https://en.wikipedia.org/w/index.php?title=User%3AWP_1.0_bot%2FTables%2FProject%2FWomen_writers&type=revision&diff=970743642&oldid=969733045) between today's table update and the one on July 26th, it looks like:

- There have been lots of double digit and triple digit changes.
- Stub/Mid and Stub/Low have gone from 2,296 to 2,397 and 6,723 to 6,857 respectively.
- Stub ??? ha

[2020-08-02 04:35] Rosiestep commented on #220
Indeed, the August 1st update is an "update". If you look at the diffs between July 27-28, July 28-29, July 29-30, the updates didn't include the changes I'd made. It seems to be okay now. That's what I care about. Thank you!

[2020-08-05 01:30] audiodude commented on #220
Thanks for reporting it! Please continue to bugs for any issues you see.

[2020-08-05 01:30] #220 closed

[2020-08-08 17:57] audiodude opened #221 "Frontend: Allow user to change quality/importance settings while on article page"
There was a request on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Suggestions) for this feature. Basically, even though the table provides a full array of options for choosing quality/importance combinations, users want to change the quality/importance directly from the article list page.

We could probably do this similar to the Custom Pagina

[2020-08-08 18:00] audiodude opened #222 "Frontend: Allow users to filter article list by article title"
This is a request that was made on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Suggestions).

Basically follow the same pattern as Custom Pagination and potentially Update Quality/Importance (#221).

[2020-08-08 18:13] audiodude opened #223 "Collect and display in the frontend article page sizes, when assessed and weekly"
Based off the request in this [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#add_ORES_score_and_reimplement_old_score_value_display) thread.

Basically, editors want to see how pages sizes are changing, as an indicator of if pages should be re-assessed or not.

Presumably, we could make a wiki replica call when the rating changes to get the page s

[2020-08-08 20:02] #221 closed

[2020-08-28 21:17] audiodude opened #226 "Reduce the number of logins that the worker processes make"
See [the phabricator bug](https://phabricator.wikimedia.org/T256533) and the [message on my talk page](https://en.wikipedia.org/wiki/User_talk:Audiodude#Important_notice:_You_are_making_a_lot_of_login_requests) for more details.

Basically, every worker task for all 2500+ wikiprojects creates a login, twice actually: once for updating the table and once for updating the logs.

We can use the [patt

[2020-08-29 19:47] #226 closed

[2020-09-01 15:54] kelson42 commented on #226
@audiodude Thank you for the quick reaction on this

[2020-09-05 16:12] audiodude commented on #18
@kelson42 I think deleting the `releases` table makes sense in theory, but I would be hesitant to do it while the old tool is still running.

[2020-09-05 16:14] kelson42 commented on #18
@audiodude What is still on our way to stop the old WP1 engine? I have thefeelingyou have aready solved the blockers.

[2020-09-05 16:18] audiodude commented on #18
@kelson42 I think we could put in the redirect from the old tool to the new tool in the coming weeks, and then I just picked October 15th as the shutdown date arbitrarily, but I think we're on track for that date.

There were some initial reports on the WP 1.0 talk page about some missing features in the new tool, but I have addressed most of them.

[2020-09-05 16:18] #222 closed

[2020-09-05 16:20] audiodude commented on #182
I think that my pages just didn't get updated because the contents were identical. I believe that the manual updates are doing the uploads. Closing.

[2020-09-05 16:20] #182 closed

[2020-09-05 16:21] audiodude commented on #18
@kelson42 I think the only feature I haven't implemented yet in the new tool is #206.

[2020-09-05 16:43] audiodude commented on #193
I started looking into adding a redirect from the old tool to the new one. However, I couldn't immediately figure out an easy way to allow users to override the redirect and use the old tool if they need to.

Basically, I'm trying to implement the redirect at the lighttpd configuration level.

We could add a `?noredirect=1` parameter into the URL, that would cause the redirect to be skipped. Howev

[2020-09-05 16:44] audiodude commented on #193
So the problem is, a forced, unavoidable redirect from the old tool to the new tool is the same in essence as shutting down the old tool.

[2020-09-05 16:55] audiodude opened #231 "Assessment tables may be cached when doing manual update"
We cache the output of the assessment tables in Redis so that they can display more quickly when a user accesses them through the frontend. However, there have been [reports](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Editorial_bot_extremely_slow) that newly assessed articles aren't being updated by the new bot, even though the old bot updates them.

The culprit

[2020-09-05 17:01] kelson42 commented on #193
I would do an unavoidable redirect and keep the banner on the new to invite people to report problems. If there is a big problem, the we can remove the redirect for the time being needed to fix it. For other bigs, we can fix them on the new engine... But It is perfectly possible that we hear no complain at all.

[2020-09-05 17:03] audiodude commented on #193
👍 SGTM

[2020-09-05 18:29] audiodude commented on #231
Fixed by #232

[2020-09-05 18:29] #231 closed

[2020-09-19 19:52] audiodude opened #234 "Frontend: Article listing allows for "from page 0""
This results in an empty listing and should not be allowed.

[2020-09-19 19:53] audiodude opened #235 "Frontend: Number of pages is 0 for certain values of "numRows""
As seen in this link: http://wp1.openzim.org/#/project/Lakes/articles?quality=Stub-Class&importance=Low-Class&page=1&numRows=3

[2020-09-19 20:18] audiodude opened #236 "Frontend: Optimize for mobile viewing"
There was a report on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Mobile_view) that some buttons look off when viewed on mobile. We should do a full pass of the frontend app and make sure it works on mobile. Using Bootstrap to begin with should help.

[2020-09-26 18:57] audiodude opened #237 "Frontend: Need to add ability to compare articles across two different projects, with quality and importance filtering"
According to the discussion on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#A_feature_which_I_hope_will_still_be_available_with_the_newest_version_of_this_bot), there is a feature in the old frontend where you can add a "second project" and the site will list all of the articles that overlap in both projects:

https://enwp10.toolforge.org/cgi-bi

[2020-09-26 18:59] audiodude commented on #237
We'll consider this blocking the shutdown of the old tool, so very high priority.

[2020-09-26 19:06] kelson42 commented on #237
@audiodude OK, important finding indeed.

[2020-09-27 01:31] audiodude opened #238 "Frontend: Reloading an article page with custom pagination doesn't work right"
http://wp1.openzim.org/#/project/Modern%20philosophy/articles?quality=C-Class&importance=High-Class&page=1&numRows=10

If you load the page, it has 10 articles per page, as expected. If you then click the "Update View" button in the article pagination section, the number jumps to 100.

[2020-09-27 20:21] #237 closed

[2020-10-01 07:50] kelson42 commented on #193
@walkerma @audiodude 15 days left. Can not believe we are almost there :-)

[2020-10-01 08:09] kelson42 opened #241 "Css/js resources should be cached in browser"
proper Http response header should be set

[2020-10-15 19:36] audiodude commented on #193
@kelson42 @walkerma I have put in a redirect for all pages from the old tool, to the new tool, and updated the welcome message on the new tool (to no longer say "the old tool is still running"). Let's see if anyone complains in the next week or so, otherwise I consider this task done.

I have also posted a [message on English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Edit

[2020-10-15 19:36] #193 closed

[2020-10-18 03:37] #238 closed

[2020-10-18 03:43] #234 closed

[2020-10-18 03:55] #235 closed

[2020-10-18 03:59] audiodude commented on #121
I've added uptimerobot for the new wp1.openzim.org URL.

[2020-10-18 04:20] audiodude commented on #99
Okay I deleted the references to "File" and "File talk" from the WP 1.0 database. I imagine this will clear this issue up, will check back tomorrow to see if it's fixed and close.

[2020-10-18 05:13] audiodude commented on #121
We could run a cron job on the workers image that checks how many items are in the FAILED queue and if it gets over N sends us an email?

[2020-10-18 12:21] kelson42 opened #248 "Measure audience"
We should link this service with our Matomo instance at https://stats.kiwix.org.

This can be done via:
* A piece a javascript running on each page
* A web log parser calling the matomo online hookd (we have already the piece of code doing that properly).

[2020-10-18 12:28] kelson42 commented on #121
@audiodude Thank you for commenting.I think there is many things to add on this tickets on my side.

First, we have a Kiwix uptimerobot.com account (was a good advice of you) entry for wp1.openzim.org. I believe this is important the monitoring is centralised for our services. If OK for you I would like to add you as recipient.

Then, I think the problem this ticket is complex enough to have a mul

[2020-10-18 15:19] audiodude commented on #121
Okay at the very least I'll delete my uptimerobot entry and you can add me to yours.

[2020-10-20 22:32] audiodude opened #249 "Global table upload is only working sporadically"
https://en.wikipedia.org/w/index.php?title=User:WP_1.0_bot/Tables/OverallArticles&action=history

I looked at the log file inside the workers container (`/var/log/enqueue-global.cron.log`) and it doesn't contain any errors, and was updated today, so it's a mystery what's going on.

[2020-10-20 22:34] audiodude commented on #249
Also didn't see any errors in the FAILURE bucket in rq.

[2020-10-20 22:35] audiodude opened #250 "Worker cron jobs should write their logs to /var/log/wp1bot"
That way the logs are available on the container host in the same log directory as everything else.

[2020-10-21 03:04] audiodude commented on #248
I would prefer the Javascript, since users need to have Javascript enabled to use the Vue site anyway.

[2020-10-21 16:17] audiodude commented on #249
I just ran `enqueue-global.py` manually and monitored the queue. According to the logs, it processed and uploaded the global table successfully. However, I don't see any updates on Wikipedia.

Currently my best guess is that the table data is maybe being cached or otherwise duplicated, and the wikicode for the "new" table is identical to the old so is getting rejected by Wikipedia.

[2020-10-21 16:30] audiodude commented on #249
I ran the Global Table generation code again, locally, with it printing out the wikicode and I verified that the wikicode it generated is identical to the current revision on the table (https://en.wikipedia.org/w/index.php?title=User:WP_1.0_bot/Tables/OverallArticles&oldid=984705414).

That's a start, now to figure out why the global numbers haven't changed in nearly 10 days. It seems extremely un

[2020-10-21 16:58] #250 closed

[2020-10-22 16:54] Neilblaze commented on #236
@audiodude if this is still up for grabs, I want to take this up! :)
Also can you please share any specific link where the issue is being populated?

For mobile view, I found this issue :-
![openzim](https://user-images.githubusercontent.com/48355572/96904899-573a3280-14b5-11eb-97a6-f778f2e6a317.gif)

[2020-10-22 17:01] audiodude commented on #236
@Neilblaze Go for it!

There's no specific link, this issue covers the whole frontend app. It would make sense probably to do it as multiple PRs, one for each page, or even per component.

I'm not sure I understand the issue in the video you provided. Is it that the dropdowns don't provide options at all?

[2020-10-22 17:19] audiodude commented on #236
@Neilblaze I've added some more info to the README just now that should help you get up and running with a development frontend server. Let me know if you need more info than that.

[2020-10-22 17:20] audiodude opened #253 "Codefactor badge is broken"
Probably because I moved the default branch of the repo from `master` to `main`.

@kelson42 can you look into it? Not super important.

[2020-10-22 17:27] Neilblaze commented on #236
No dropdowns are working fine, but there are two issues.

- The dropdowns should either be aligned in a single horizontal line or else we can add a break between the `Quality` & the `Importance`, & keep the respective dropdowns in their adjacent position. I think the first opinion will be good to go!

- The dropdown list is being overflowed for some devices. For me, I've tested both on Apple & And

[2020-10-22 17:27] Neilblaze commented on #236
Thank you very much @audiodude :smiley:

[2020-10-22 17:30] kelson42 commented on #253
OK... Honestly I'm not really comfortable with this topic/move.

[2020-10-23 07:45] kelson42 commented on #248
The instructions are given here, should just work:
https://stats.kiwix.org/index.php?module=CoreHome&action=index&date=yesterday&period=day&idSite=10

[2020-10-23 17:25] audiodude commented on #248
Fixed by #254

[2020-10-23 17:25] #248 closed

[2020-10-23 18:23] audiodude commented on #249
This is still not working, but I think it's because we're missing a db.commit() in the update global articles function.

[2020-10-23 19:20] audiodude commented on #249
Okay I think #255 actually fixes this. Not sure how it was working before.

[2020-10-23 19:20] #249 closed

[2020-10-24 09:59] #253 closed

[2020-10-24 10:04] kelson42 commented on #32
Does this still happen at all?

[2020-10-24 19:36] audiodude commented on #32
Looks like not, I see a bunch of entries that look about the same for AfC:

[code]

[2020-10-24 19:36] #32 closed

[2020-10-25 11:03] kelson42 commented on #72
@walkerma @audiodude Does someone is in position to confirm this is still an occuring problem?

[2020-12-02 08:41] kelson42 opened #257 "Very high login rate!"
It is a quite old topic (summer 2020) but I have been aware just now about it: our bot (it is not clear to me if this is the old Perl version, the new Python version, or both together) generate a lot (too many?) login requests to the Wikipedia API. See https://phabricator.wikimedia.org/T256533.

An admin complained about it and ask if we could do something to reduce this amount, see https://en.wik

[2020-12-02 15:53] kelson42 commented on #141
@alanajjar would be the arabic speaking Wikipedianer partner here on this.
@alanajjar This tools do basically three things:
1- gathering evaluations
2- writting stats tables/logs on Wikipedia
3- Providing a web interface (at https://wp1.openzim.org)

Bases on 1- we can then make article selection (like for wikimed).

Would you agree to want the 3 different points for WPAR?

[2020-12-02 16:50] alanajjar commented on #141
Thanks

Thanks @kelson42. Yes of course, and I'll help as much as I can, also Arabic Wikipedia community will be very thankful to you!

[2020-12-02 17:14] kelson42 commented on #141
@audiodude Supporting wiki is one of the strategic move I would like to see happening. WPAR is a good first candidate. How complex would that be?

[2020-12-02 20:19] audiodude commented on #257
This was fixed in #226

[2020-12-02 20:19] #257 closed

[2020-12-03 08:10] kelson42 commented on #257
@audiodude Perfect, sorry for the burden.

[2020-12-05 22:01] ghost opened #258 "Allow to make Wikipedia books"
*@kelson42 commented on Aug 21, 2019, 9:39 AM UTC:*

[https://en.wikipedia.org/wiki/Wikipedia:Books](https://en.wikipedia.org/wiki/Wikipedia:Books)

*This issue was moved by [kelson42](https://github.com/kelson42) from [openzim/mwoffliner#947](https://github.com/openzim/mwoffliner/issues/947).*

[2020-12-06 02:26] audiodude commented on #141
Nice to meet you @alanajjar !
@kelson42

So I've thought about this, and the prerequisite is, of course, that there are WikiProjects on Arabic Wikipedia that are doing evaluations. Can you confirm @alanajjar?

Assuming that is the case, the wp1 bot software already theoretically supports using variables for the names of categories and classes. So in en, we have "Military History articles by qualit

[2020-12-06 02:52] audiodude opened #259 "Create a way for conf.json to be variable"
Although the file conf.json in theory provides a way to make the labels and categories that wp1 bot uses variable, in practice there is a single copy of the file that is checked into the repo.

We need to possibly make a `conf/` directory with `en/`, `ar/`, etc subdirectories, each with a conf.json file in them. Then we can map the proper directory at Docker Compose time based on which language is

[2020-12-06 02:54] audiodude opened #260 "Provide a version of conf.json in Arabic"
Not all of the fields in [conf.json](https://github.com/openzim/wp1/blob/main/conf.json) are used explicitly, but it is easy enough to provide an Arabic value for all of them. Note that this includes the weights for the various quality/importance labels.

[2020-12-06 02:56] audiodude opened #261 "Sign up for an arwp10 Toolforge account"
We need a Toolforge account for Arabic WP1. This will give us access to a new MariaDB database that we can use for the project, as well as credentials for accessing the arwiki_p (assuming that's the name of it) replica database.

[2020-12-06 02:59] audiodude opened #262 "Seed the Arabic WP1 database"
We have [schema.sql](https://github.com/openzim/wp1/blob/main/setup/schema.sql) which I believe does work to seed a wp1 database. However, it is missing some of the data that is required for the bot to run, like the namespace mappings and global class weights.

We should create a seed.py script that can run to seed the database from schema.sql and some optional data source the specifies the namesp

[2020-12-06 03:01] audiodude opened #263 "Re-organize the directory structure of the production system to account for alternate deploys"
We should create new directories for `en/` and `ar/` versions of the source code and credentials files.

[2020-12-06 03:05] audiodude opened #264 "Localization (l10n) scheme for wp1 table and log templates"
This affects all of the files in [the templates directory](https://github.com/openzim/wp1/tree/main/wp1/templates).

For Arabic Wikipedia, the tables need to read right-to-left. It's unclear if the Mediawiki software takes care of this automatically or if we need to specify the columns in a different order in the wiki markup.

For other files, things like [[was renamed to]] need to be localized. W

[2020-12-06 03:06] audiodude commented on #264
@alanajjar Do you know if Mediawiki automatically transposes tables into right-to-left for Arabic?

[2020-12-06 03:08] audiodude opened #265 "Localization for wp1-frontend"
Presumably there is a way for localizing Vue apps. We would need to select the right localization at either Docker build time (build `wp10-en-frontend` and `wp10-ar-frontend`) or at Docker Compose time.

[2020-12-06 03:09] audiodude opened #266 "Confirm that there are WikiProjects on Arabic Wikipedia"
The projects should be classifying articles "by quality" at the very least.

[2020-12-06 03:10] audiodude commented on #141
Created [a milestone](https://github.com/openzim/wp1/milestone/2) for this work.

[2020-12-06 03:43] audiodude commented on #141
Also I know we have #122. Does it make sense to do French first before taking on Arabic, @kelson42 ?

[2020-12-06 03:51] audiodude commented on #261
Done: https://toolsadmin.wikimedia.org/tools/id/arwp10

[2020-12-06 03:51] #261 closed

[2020-12-06 04:48] #259 closed

[2020-12-06 14:30] alanajjar commented on #141
Hello @audiodude. Thank you, nice to meet you too!

Yes, we've around 80 Wikiprojects on Arabic Wikipedia.

[2020-12-06 15:51] Meno25 commented on #264
Yes, it does. On wikis that are configured to use an RTL language (such as Arabic) as the content language, MediaWiki automatically displays tables correctly aligned. This includes also the text inside the table.

[2020-12-09 07:58] kelson42 opened #271 "Setup around configuration"
A few questions/remarks to secure we don't leak the configuration:
* The configuration file template should be different from the real configuration
* The configuration file(s) should be in the `.gitignore` (with all the files which might appear for temporary saving, like the one with `~` for emacs)
* Secure the file is outside the served directory.

[2021-01-22 09:05] kelson42 opened #273 "WP1 DB table has to migrated"
The Wikimedia tech teams requires our DB table to have a different name `s51114__enwp10` (with an additional underscore). They have published a procedure to do so:
https://phabricator.wikimedia.org/T269609#6766433

We have until end of March to do it.

[2021-01-22 09:06] kelson42 commented on #273
@audiodude Would you be able to run this migration?

[2021-01-22 16:13] audiodude commented on #273
Yes I can do it. If I've got it right we should:

1. Announce that the tool will be down for about an hour, scheduled perhaps for this Sunday or the next
2. Shut down the worker and web services on the production box
3. Perform the migration according to the steps in the phabricator ticket
4. Bring the workers and web processes back up
5. Test the website and do a manual update of a single project

[2021-01-22 16:18] kelson42 commented on #273
@audiodude Yes, sounds good.

[2021-01-22 16:19] audiodude commented on #273
Okay I posted a notice. I'll do the migration next Sunday, Jan 31.

https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Tool_Maintenance%2C_Sunday_January_31

[2021-01-22 17:18] #271 closed

[2021-02-05 12:36] kelson42 commented on #273
@audiodude What is the status on this ticket. Could we close it?

[2021-02-08 03:50] audiodude commented on #273
@kelson42 no I still haven't done the migration! I keep forgetting.

[2021-02-15 20:26] audiodude commented on #273
Okay it's done now! It was way easier than I thought it would be. I left behind all the `lucky_` tables from the migration because those can be deleted.

[2021-02-15 20:26] #273 closed

[2021-03-06 06:46] kelson42 opened #278 "Replace wp1-dev-database with git-lfs"
That sounds more elegant to me.

[2021-03-06 06:50] audiodude commented on #278
What exactly would be stored in LFS in this scenario? A docker image? A .sql dump file?

[2021-03-06 06:53] kelson42 commented on #278
The same as what you have in the git. Would recommend to consider to put a compressed version of it.

[2021-03-07 03:17] audiodude commented on #278
The git repo for wp1-dev-database contains a Dockerfile and is used to build an image which is included in the `docker-compose-dev.yml` file:

https://github.com/openzim/wp1/blob/main/docker-compose-dev.yml#L11

But I agree, in general, that having the dev database in a separate repo is a bit confusing, especially as I consider the schema changes that are needed for selection.

[2021-03-07 14:21] kelson42 commented on #278
yes, if we use git-lfs, then this `Dockerfile` can advantageously be part of the testing code available in this repository. Then everything is in an atomic git repository.

[2021-03-14 13:32] audiodude commented on #236
@Neilblaze Any progress on this issue?

[2021-03-14 13:32] audiodude commented on #266
Confirmed.

[2021-03-14 13:32] #266 closed

[2021-03-14 13:41] audiodude opened #280 "Write more Cypress integration tests"
Currently we have only [one integration test](https://github.com/openzim/wp1/blob/main/wp1-frontend/cypress/integration/home_page.spec.js), and it just tests that the autocomplete dropdown opens when a search is entered.

We should have more test cases for the basic usage of the app, such as:

- When the user selects an item from the dropdown, the appropriate table is displayed
- That table has th

[2021-03-14 13:43] audiodude commented on #280
Forgot to mention, but since the dev database is static and well known, we don't have to "guess" at any of this. For example, the existing integration test searches for "Water" because we know there is a WikiProject Water in the dev database. We also know the exact number of articles in every class for that project, etc.

[2021-03-14 13:47] audiodude opened #281 "Make the autocomplete results box "hover" (aka position: absolute)"
This is a minor tweak to the CSS so that when the autocomplete box on the homepage is being used, the results don't push the table down the page but rather "hover" over it like a proper dropdown.

[2021-03-14 18:27] mahakporwal02 commented on #281
@audiodude Can I work on this issue?

[2021-03-14 18:36] audiodude commented on #281
It's all yours!

[2021-03-15 13:28] mahakporwal02 commented on #236
@audiodude maybe I could continue with this issue?

[2021-03-16 01:55] #281 closed

[2021-03-16 14:09] mahakporwal02 commented on #186
@audiodude Can I work on this issue?

[2021-03-16 15:59] audiodude commented on #186
Yes, thank you!

[2021-03-18 07:35] #186 closed

[2021-03-18 08:24] mahakporwal02 commented on #99
@audiodude Is this issue still open?

[2021-03-18 14:46] audiodude commented on #99
I think this is fixed. I just looked at the log for [African military history](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/African_military_history_articles_by_quality_log) and it seems like images are using the `File:` prefix. Screenshot:

<img width="885" alt="Screen Shot 2021-03-18 at 7 44 56 AM" src="https://user-images.githubusercontent.com/57832/111645504-fe4d9c80-87bd

[2021-03-18 14:46] #99 closed

[2021-03-19 03:11] yashikajotwani12 commented on #236
hey !! @audiodude I want to contribute for this , will you please assign me for this . I would begin building then.

[2021-03-19 03:13] yashikajotwani12 commented on #241
Hey @kelson42 , please assign me this issue, I would start building this soon, I want to be a part of Gsoc'2021 . This could be a good start for me.

[2021-03-19 07:39] kelson42 commented on #241
@yashikajotwani12 What do you propose to do to fix this issue?

[2021-03-19 12:12] kelson42 commented on #141
Yes, definitly. Let do #122 first.

[2021-03-19 12:13] kelson42 commented on #122
@audiodude I would be ready to move on this, what should I provide to help you configure the WP1 engine for the French Wikipedia?

[2021-03-19 15:54] mahakporwal02 commented on #278
@kelson42 @audiodude should git LFS be installed in wp1-dev-database and track .sql file in that repository only?

[2021-03-19 17:48] audiodude commented on #278
@mahakporwal02 No, we want to get rid of the `wp1-dev-database` repo and instead store all of its contents in this `wp1` repo. But because the .sql file is large, we want to use git-lfs to store it.

Additionally, the `docker-compose-dev.yml` file that I linked above needs to be updated to build the dev database from a "local" Dockerfile that is in a subdirectory instead of pulling it from docker

[2021-03-19 18:12] audiodude commented on #278
I'm actually going to take this issue because it's blocking my plan for schema migrations and I want to start working on that

[2021-03-19 18:57] mahakporwal02 commented on #278
OK, thanks

[2021-03-20 19:49] audiodude commented on #236
@mahakporwal02 @yashikajotwani12 What would each of you do to resolve this issue?

[2021-03-21 07:09] mahakporwal02 commented on #236
@audiodude Add bootstrap to make the pages responsive, some pages look misaligned and (mis)spaced in the mobile screen view, Make PR for each component (as you said earlier).

[2021-03-21 13:38] mahakporwal02 commented on #280
@audiodude @kelson42 I have made cypress for
'When the user selects an item from the dropdown, the appropriate table is displayed'
Please have a look at it so that I can make rest of the tests after your approval.

[2021-03-24 20:13] audiodude opened #289 "GitHub Actions: Create first workflow"
Create the first workflow which simply runs the nosetests against the Python code.

[2021-03-24 20:15] audiodude opened #290 "Upgrade Python version to 3.9"
This should simply be a matter of running the Python tests and assuring they pass, then updating the documentation, CI, and the Docker images.

[2021-03-25 04:32] audiodude opened #291 "Github Actions: Use Codecov"

[2021-03-25 04:33] audiodude opened #292 "Github actions: Use Codefactor"

[2021-03-25 05:04] audiodude commented on #292
Codefactor operates outside of Travis CI and therefore outside of Github actions, so this is not necessary.

[2021-03-25 05:04] #292 closed

[2021-03-25 05:05] #291 closed

[2021-03-25 05:05] #289 closed

[2021-03-25 05:07] audiodude opened #294 "Github Actions: Write a workflow that uses Cypress"
One potential drawback of the Travis CI setup for Cypress tests was that it used the latest docker hub image for the python web code. So if you were making a change to that code and adding a test for it in the same PR, that wouldn't work.

That's something that could probably be improved with the Github Actions based approach.

[2021-03-25 07:07] #294 closed

[2021-03-26 17:39] mahakporwal02 commented on #280
@audiodude Are there more tests that you need me to add?

[2021-03-26 17:42] audiodude commented on #280
@mahakporwal02 Any tests that you can think of that I might have missed would be helpful.

[2021-03-26 17:45] mahakporwal02 commented on #280
@audiodude I think all important tests have been covered.

[2021-03-26 18:10] audiodude commented on #280
What about tests for this widget?
<img width="782" alt="Screen Shot 2021-03-26 at 11 09 21 AM" src="https://user-images.githubusercontent.com/57832/112674948-c5e43900-8e23-11eb-9b4a-be783aab6b82.png">

Also can we/should we test that clicking the article name brings you to the right article on Wikipedia? Or that clicking on the revision or talk links bring you to the right places?

[2021-03-26 18:11] audiodude commented on #280
We have no tests for the manual update page. Do we need some?

[2021-03-26 18:24] audiodude opened #304 "Update Cypress to latest version"
Reading briefly through the [migration guide](https://docs.cypress.io/guides/references/migration-guide) it doesn't seem there is anything that really affects us based on our tiny suite of tests.

[2021-03-26 18:47] mahakporwal02 opened #305 "Upgrade cypress to latest version"
Upgrade cypress to latest version

[2021-03-26 18:52] audiodude commented on #305
Oops looks like a race condition, I already opened #304 and am about to start a PR!

[2021-03-26 18:53] #305 closed

[2021-03-26 18:57] #304 closed

[2021-03-27 23:48] audiodude opened #310 "Wikiwork template call in project pages seems to expect name without underscores"
Notice that the wikiwork row is included for: https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Aesthetics

But it's missing for: https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Television_stations

And also missing for: https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Computational_Biology

[2021-03-31 02:50] audiodude opened #315 "Manual update progress bar no longer shows at all"
This is probably a bug from the changes in #284. Go to the manual update page for a small project like: https://wp1.openzim.org/#/update/Syd%20Barrett

Click "Manual Update" and the button disappears (which it should) but the progress bar is not shown.

I think tangentially to this bug we should also file an enhancement for better development infrastructure around this page. That way we could prop

[2021-03-31 02:50] audiodude commented on #315
@mahakporwal02 Would you be interested in working on this?

[2021-03-31 04:13] audiodude commented on #315
Created development version of manual update flow in #316

[2021-03-31 19:31] mahakporwal02 commented on #315
@audiodude Sure.

[2021-03-31 22:29] audiodude opened #317 "Cypress tests broken/flaky for article page"
Looks like the test added in #301 is either broken or flaky.

https://github.com/openzim/wp1/actions/runs/706346926

Reading https://www.cypress.io/blog/2020/07/22/do-not-get-too-detached/ makes me think that we are grabbing all of the `<tr>`s before the table is updated, and then when we go to check them (after the update), the list is stale and some of them have become detached.

[2021-03-31 22:29] audiodude commented on #317
@mahakporwal02 would you be able to take a look at this?

[2021-04-03 09:15] kelson42 opened #319 "Provide a version of conf.json in French"
Not all of the fields in [conf.json](https://github.com/openzim/wp1/blob/main/conf.json) are used explicitly, but it is easy enough to provide an Arabic value for all of them. Note that this includes the weights for the various quality/importance labels.

[2021-04-04 18:26] #315 closed

[2021-04-04 18:53] audiodude commented on #317
This is still happening: https://github.com/openzim/wp1/pull/316/checks?check_run_id=2265489194

[2021-04-04 20:04] mahakporwal02 opened #321 "Write cypress tests for manual update"

[2021-04-05 05:50] DiyaReddy commented on #290
@audiodude Hello,i would like to try this issue.
so do we need to convert the existing files into python 3.9
and make them run on the latest version?
and update all the documents , CI and Docker images?

[2021-04-05 06:20] DiyaReddy commented on #310
@audiodude Hello,
from the description i understood that there are wikiwork rows missing in these https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Television_stations
 https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Computational_Biology
I am trying to work and add the rows with their appropriate values and will update you on any changes
Thank You!

[2021-04-05 07:06] DiyaReddy commented on #310
@audiodude in the first table which  ω=3,812 and  Ω=4.89 ω
omega =a+2g+3b+4c+5s+6t
where a is A-class articles, g is GA-class articles, b is B-class articles, c is C-class articles, s is start-class articles, and t is stub-class articles.
 Ω= ω/{number of articles}
From the formula we dont have A class articles in the table so by calculating and considering the final value
value of A=3
so by subst

[2021-04-05 23:53] abdulmoiz37 commented on #290
Hello@audiodude.I am Looking to Submit the Proposal in GSOC Through Kiwix.org.I Would Like to Contribute to this issue.can i Work on this issue or is someone else Working?

[2021-04-06 01:14] audiodude commented on #290
There shouldn't be any code changes necessary. If there are, they will be exposed through running the tests. As the issue says, it's mostly a matter of updating docs, CI and the Docker images.

@abdulmoiz37 I believe @DiyaReddy was first in line, sorry. There are other issues in the repo you could look at.

[2021-04-06 01:17] audiodude commented on #310
@DiyaReddy The generated templates already have a call for Wikiwork, and the calculation is fine as far as we're concerned.

The bug is extremely minor in that we're passing `Names_with_underscores` while the Wikipedia template for wikiwork seems to prefer `Names without underscores`.

[2021-04-06 08:49] abdulmoiz37 commented on #290
Okay @audiodude :)

[2021-04-08 00:58] abdulmoiz37 commented on #241
Hello @kelson42,I would Like to Contribute to this issue so that i can Submit a Proposal to GSOC through Kiwix.org.Can i Work on this or Is Someone Else working Currently?

[2021-04-08 10:49] kelson42 commented on #241
@abdulmoiz37 You can work on this.

[2021-04-09 20:03] #317 closed

[2021-04-12 20:44] mahakporwal02 commented on #115
@audiodude I read the discussions, the procedure seems a little cumbersome to me. Could you please elaborate what exactly can be done to solve this issue.

[2021-04-21 17:09] audiodude commented on #290
@mahakporwal02 Do you want to take this one?

[2021-04-21 19:07] mahakporwal02 commented on #290
Yes, thanks.

[2021-04-22 06:53] DiyaReddy commented on #290
I have tested all the files 575 tests run successfully!

[2021-04-22 10:06] mahakporwal02 commented on #290
@DiyaReddy I checked there are only 209 tests in CI.
Am I missing something?

[2021-04-22 17:36] DiyaReddy commented on #290
Yes, and I have tested tests from the source too that is the reasons the count is more!

Sent from my iPhone

[2021-04-23 02:18] #290 closed

[2021-04-23 02:19] audiodude opened #326 "Delete .travis.yml"
We are no longer using Travis CI.

[2021-04-23 17:40] #326 closed

[2021-04-30 16:09] #236 closed

[2021-05-06 04:20] Rosiestep opened #329 "User:WP 1.0 bot/Tables/Project/Women writers isn't updating"
User:WP 1.0 bot/Tables/Project/Women writers (https://en.wikipedia.org/wiki/User:WP_1.0_bot/Tables/Project/Women_writers) hasn't updated since April 30, 2021. I tried updating it manually but that, too, doesn't work. Thanks for your assistance.

Rosie Stephenson-Goodknight
Visiting Scholar, Northeastern University, Boston
Chair, Affiliations Committee, Wikimedia Foundation
Vice-President, Wikimedi

[2021-05-06 04:29] audiodude commented on #329
Yup, looks like the worker processes are down because of a python 3.9 error (from upgrading the project to 3.9). Thanks for reporting, will fix tomorrow morning.

[2021-05-06 05:05] #329 closed

[2021-05-06 05:14] audiodude commented on #329
Okay I've deployed the fix for this. Everything should be back to normal at Midnight UTC on May 6, when the bot runs its next scheduled update. I'll be monitoring closely.

Thanks again for reporting!

[2021-05-06 17:32] audiodude commented on #280
Closing, we have a good suite of first tests.

[2021-05-06 17:32] #280 closed

[2021-05-07 17:21] Rosiestep commented on #329
Your fix worked. Thank you!

On Wed, May 5, 2021 at 10:14 PM Travis Briggs ***@***.***>
wrote:

[2021-05-14 12:32] holta opened #335 "Monthly .tsv lists are not being created since Feb 1's enwiki-2021-02"
`enwiki-2021-02` from February 1st is the latest here:

http://download.openzim.org/wp1/

Does anybody know why the monthly creation of .tsv lists in English is no longer working?

[2021-05-21 18:44] audiodude opened #336 "WP1 Selection Tools: Create a simple custom list"
This issue is a master tracking issue for a P0 critical user journey for WP1 Selection Tools. This issue is not expected to be closed by a single PR, but rather for additional sub-issues to be attached to it.

The steps of the CUJ are:

1. user goes to wp1.openzim.org
1. user logs in with their Wikimedia user/password
1. user clicks on "lists"
1. user clicks on "create simple list"
1. user chooses

[2021-05-21 18:49] audiodude opened #337 "WP1 Selection Tools: List creation periodical refreshment"
This issue is a master tracking issue for a P0 critical user journey for WP1 Selection Tools. This issue is not expected to be closed by a single PR, but rather for additional sub-issues to be attached to it.

The steps of the CUJ are:

1. Logged in user should be able to create a list from a Wikipedia category
1. The category being chosen, the user chooses a name for the list and how often the li

[2021-05-21 18:52] audiodude opened #338 "WP1 Selection Tools: Create a new list builder module"
This issue is a master tracking issue for a P0 critical user journey for WP1 Selection Tools. This issue is not expected to be closed by a single PR, but rather for additional sub-issues to be attached to it.

The steps of the CUJ are:

1. Although the WP1 selection tool provides already many way to create a list, a user may desire something else.
1. The user creates a ticket in WP1 selection tool

[2021-05-21 19:02] audiodude opened #339 "Integrate python-mwoauth for Wikipedia OAuth logins"
Looking at the flask blueprint [here](https://pythonhosted.org/mwoauth/#module-mwoauth.flask) provided by the library, it should be simple to register the blueprint in create_app in the backend app.py.

However when I tried this, it gave me an error about callback being `oob` when I attempted the handshake. I think this is because the callback URL in the library code is hardcoded to this `oob` def

[2021-05-21 19:07] audiodude opened #340 "Create users table in WP1 database"
For user login (see #339), we will need to store the user's wikipedia user id in a database table, so that we can associate it with ownership of whatever selection lists the user makes. We probably want to also store the user's username, in case we need to display it when they are not logged in.

[2021-05-21 19:09] audiodude opened #341 "Create method for migrating WP1 database"
We should try integrating [this library](https://ollycope.com/software/yoyo/latest/) for database migrations.

It will provide a nice way of keeping track of the state of the databases in both development and production.

[2021-05-21 19:10] audiodude commented on #341
Needed for #340

[2021-05-21 19:12] audiodude commented on #341
#278 should be done first, so that the database is completely local and we can apply migrations directly.

[2021-06-09 21:21] audiodude opened #350 "Make manual updates require login"
Since the manual update can be expensive, it should require at the least a valid Wikipedia account.

Also, putting this behind login will let us develop and test out methods for redirecting to login from a page and redirecting back.

[2021-06-10 18:44] audiodude opened #351 "CI: Timeout for starting web server"
Currently we use `wait-on` to check if the web server is live before running the cypress CI tests. However, if there is a bug in starting the server, it will simply spin forever until Github eventually kills the action which is something like 8 hours (!).

Let's set a timeout of maybe 2 minutes for this.

[2021-06-12 19:33] #351 closed

[2021-06-14 20:17] #350 closed

[2021-06-14 20:34] audiodude opened #357 "Create Selection page skeletons with secondary navbar"
There will eventually be a link in the main navbar for "Selections" which will go to wp1.openzim.org/#/selections. We should start building the pages at that location but not link it to the main navbar for now.

Currently there are two pages under /selections:

1. /selections/user  --  A list of the users selections
2. /selections/simple/new -- A place to create a new "simple list" as described in

[2021-06-14 20:35] audiodude commented on #339
We used the mwoauth library directly. Fixed by #345.

[2021-06-14 20:35] #339 closed

[2021-06-14 20:44] audiodude commented on #357
We should maybe make the secondary nav its own component so that it can be easily included on all Selection pages.

[2021-06-17 18:56] #357 closed

[2021-06-17 19:40] audiodude opened #362 "Store users in the database when they log in"
When a user logs in using OAuth, we should store an entry for them in the database, so that later selections can be linked to their user id (`sub`). #360 added a schema for a `users` table, which is simply id:INTEGER, username:VARCHAR(255). We should fill this out on OAuth logins, potentially with an `INSERT...ON DUPLICATE KEY UPDATE` statement, so that we don't have to first query the database.

[2021-06-17 19:46] audiodude opened #363 "Seeding our list of "Wikimedia projects""
According to #336, part of the workflow is:

I've found this list here:

https://meta.wikimedia.org/wiki/Complete_list_of_Wikimedia_projects

Which seems to list everything. However, it's not in a machine-friendly format. Additionally, if the user wanted to create a list for say, the French Wikipedia (fr.wikipedia.org), what should we store in the database for the metadata for that list? That is,

[2021-06-17 22:00] #340 closed

[2021-06-17 22:00] #341 closed

[2021-06-18 06:58] kelson42 commented on #363
@audiodude You can rely on https://meta.wikimedia.org/w/api.php?action=help&modules=sitematrix

[2021-06-19 18:31] #362 closed

[2021-06-20 18:48] audiodude opened #366 "Use wikipedia 'sitematrix' API endpoint to fetch list of projects"
As per #363, we should use https://meta.wikimedia.org/w/api.php?action=help&modules=sitematrix to fetch the list of projects that are available for creating the simple list (#336).

There should be an API endpoint, maybe `/v1/sites` that provides the data in a JSON format that is ready for consumption by the frontend. This endpoint should be documented in openapi.yml.

Note that we should use our

[2021-06-20 18:49] audiodude commented on #363
Thanks Kelson!

[2021-06-20 18:49] #363 closed

[2021-06-20 22:02] audiodude opened #367 "Build simple list creation UI"
Here is a mockup of the simple list creation UI, for #336.

<img width="1201" alt="Screen Shot 2021-06-20 at 2 59 21 PM" src="https://user-images.githubusercontent.com/57832/122689547-470b5c00-d1d8-11eb-8d3b-d9dccfe1bea8.png">

The project list is populated from the endpoint specified in #366. A project must be selected, but should default to en.wikipedia.org.

The list name is required.

The list

[2021-06-21 04:44] kelson42 commented on #367
I would recommend to force underscrores, at least in what is saved. It should exactly match the articleId at the wiki.

[2021-06-21 04:58] audiodude commented on #367
I was planning on having the backend normalize with underscores as part of the validation process.

[2021-06-22 15:49] kelson42 commented on #367
Here is a concrete example why the check should be done https://github.com/openzim/mwoffliner/issues/1486

[2021-06-22 16:55] audiodude commented on #367
Good example, thanks! I think we should validate on the backend and transform the list to a canonical form. We should also probably not encourage the user to use spaces, so maybe the placeholder can have something more like a list of articles with underscores and such.

[2021-06-23 20:06] #366 closed

[2021-06-26 14:54] kelson42 opened #370 "3 differents concepts and storage backends"
We have three different concepts around lists:
* List builders, which are methods to build list, stored in the code base. They work as templates aiming for values coming from users.
* User lists, which feeds the list builders with custom user generated values. IMO best stored in the MariaDB
* The selections, which are the output of user lists done at a specific time. They are directly usable by th

[2021-06-26 17:37] audiodude commented on #370
The current codebase fits this description in the sense that we haven't built anything for 1 and 2 yet, and have only just started on the data model for 3.

We also need to store metadata for selections in MariaDB, even though the textual article data will be stored in S3, so that we can build S3 URLS and provide a list of user selections that can be updated or removed.

I'm thinking of the follow

[2021-06-26 17:39] audiodude commented on #370
Also, on the "simple list" selection creation page, I added the following text:

[code]

I hope this makes it clear to users that there is no ACL on the S3 URLs where their selections get stored. I hope this is adequate from a privacy perspective.

[2021-06-26 18:34] audiodude opened #371 "Simple list creation: validate list on backend, syntax only"
As part of saving a simple list, there should be a backend function that validates/normalizes the items of the list.

This function should:

1. Replace spaces with underscores
2. Resolve percent encoding to UTF-8
3. Resolve URLs in various forms to just the article name
4. Reject article names which have any of the following properties:
    - Contain any [forbidden characters](https://en.wikipedia

[2021-06-26 18:35] audiodude commented on #371
This function should probably live at wp1/logic/selection.py and should be coded with extensive unit tests.

[2021-06-26 18:51] audiodude commented on #370
I realize that I need a filename for the S3 bucket/redis key for each selection list. I'm thinking of using a salted hash of the database id. I would store this hash as part of the database schema. I don't want to use the database id directly because they are increasing monotonically from 1, so abusive users could just go to `selections/1.tsv`, `selections/2.tsv` etc and list all of the selections

[2021-06-26 18:58] audiodude opened #372 "Generalized storage backend interface for selection lists"
We plan to store the selection lists in S3 in production (see #370). However S3 credentials will largely be unavailable to day to day developers of the app. Therefore, we need to have a storage solution for development so that developers can test other features of selection lists, such as storing the metadata in the database and listing the selections for a given user.

Additionally, API methods f

[2021-06-26 19:00] audiodude opened #373 "Simple list creation: validate list, check that articles exist in target project"
This is a separate task, that we might not even do, because it could be slow and expensive.

Basically, given a list of article names, we want to validate that they actually exist in the given Wikimedia project, using the appropriate replica database.

[2021-06-26 19:02] audiodude commented on #370
Another thing we need to add to this schema is the project that the list belongs to, of course, as we are collecting that information on the simple list creation form.

| s_project |
| --- |
| en.wikipedia.org |

[2021-06-26 19:14] audiodude commented on #372
It sounds like in fact we can have a `kiwix-org-dev-wp1selection` backend or something similar, where developers can have their own credentials for development purposes. Or so I read on [this wiki page](https://github.com/openzim/zimfarm/wiki/S3-Cache-Policy). If that's the case then this work is not needed.

[2021-06-26 19:23] audiodude opened #374 "Schema for selection metadata in tool database"
I'm thinking of the following schema for the `selections` table in MariaDB:

| s_id | s_name | s_user_id | s_hash | s_project | s_model | s_region | s_bucket | s_object_key | s_last_generated |
| - | - | - | - | - | - | - | - | - | - |
| INTEGER PRIMARY KEY AUTOINCREMENT | VARBINARY(255) | INTEGER [user.u_id] | VARBINARY(255) | VARBINARY(255) [eg: en.wikipedia.org] | INTEGER(8) [enum] | VARBINARY(

[2021-06-26 19:49] #367 closed

[2021-06-26 19:52] #372 closed

[2021-06-27 22:17] #371 closed

[2021-06-27 22:25] audiodude opened #379 "Create backend endpoint for saving simple lists"
For now, it should simply do the validation added in #378 and return the result to the frontend as an object:

[code]

If success is true, the "items" object can be empty, indicating that the items were successfully saved.

We need to change the frontend page to:

1. Call this backend as a `fetch`
2. If the success field is false, display the valid elements in the main items `<textarea>` and the i

[2021-06-27 22:27] audiodude commented on #379
Also make sure to document this endpoint in `openapi.yml`and add unit tests!

[2021-06-27 22:28] audiodude commented on #379
And cypress tests for the new frontend behavior.

[2021-06-27 22:32] audiodude commented on #379
Also, the error message when there are invalid items should list the characters that are invalid and mention the length limit.

[2021-06-29 20:35] audiodude commented on #379
To be clear, this will not actually save the list until we have hooked up an s3 backend.

[2021-07-03 19:16] #379 closed

[2021-07-05 20:58] audiodude opened #383 "Saving Simple lists"
We need to actually save the Simple lists, both in the wp10 database and in the backend bucket storage.

It would be nice if there was a single method that the web frontend could call, like `wp1.logic.selection.persist_simple_list`.

I see that method having the following arguments:

[code]

Where `data` is the newline separated article names that have already been validated.

It will need to save

[2021-07-05 21:08] #374 closed

[2021-07-06 20:17] audiodude opened #386 "Authorization required for CreateSimpleList and MyLists"
We implemented OAuth specifically so we could protect these endpoints and make login required for them. Now we should actually do it.

As part of this, we should refactor the HTML that is currently displayed on the Manual update page when you're not logged in. We should create a LoginRequired.vue component that we can show on all of these pages, so that if we want to later modify it, we only have

[2021-07-10 16:45] #386 closed

[2021-07-11 06:35] kelson42 commented on #370
Sorry for not following up more accurately the dev these last two weeks. But looking at #389 I believe there is a small thing I woukd like to comment. In the case of a simple list, the user list is the same as the selection. In both cases, we have a list of titles. The method to create a selection from a user list is simple: copy the list of titles. As such I believe the list of titles should be s

[2021-07-11 06:48] kelson42 commented on #374
Sorry to come too late on this, but your are moving quickly forward. Here are a few remarks:
* I don’t really know the rational behind storing selectiions in Redis, for now and in the future this sounds not necessary to me.
* s_hash can just be a random UUID IMO. There is no need to keep a relation with the user list…. 5is is why you save it.
* s_backend, s_region, s_bucket shoukd be IMO not data

[2021-07-11 18:24] audiodude commented on #370
Having built a storage mechanism for simple lists (in #389 as you pointed out), and reading these comments, I think I understand your original suggestion as proposed in this issue better. I was not making a meaningful distinction between a user "list" and a user "selection". Having these concepts as independent definitely makes for a better separation between the generation of a selection and its

[2021-07-11 18:37] audiodude commented on #374
I originally thought that we wouldn't be able to use the s3-like bucket backend in development, so was planning on storing selections in Redis for development. This turns out not to be true or necessary.

Right, I think we should rename this to s_uuid and not have it actually be a hash.

My thought here was that, if the configuration of the site changed while it was running, you could have some se

[2021-07-11 19:02] kelson42 commented on #370
The list builders can be very differrent form each other. But as a piece of code/package/module they can share a common programming interface. At least to a large extend, the critical point being the inputing of variable necessary to compute a selection. Because they list builders (actually we should mabe call them selection builder... not sure) are so different from eact other we can not expect f

[2021-07-11 19:17] kelson42 commented on #374
Thx for agreeing on most of my remarks. Therefore I don't have much to add. Just:
* About S3, is see this like a DB, and you seem to understand the rational behing my thoughts properly, Regarding s_object_key, can be configuration or event staticly code driven
* Regarding the 1 to n relationship beetween list and selections. This is obviously not wrong. But I'm not event sure we need it as IMO we

[2021-07-12 00:48] audiodude commented on #374
I think one immediate advantage to have selections be separate from builders/lists is that one of the CUJs specifies that the user should be able to download the selection in XLS format. I was imagining that we would store XLS and TSV separately in the storage backend, and thus we would have at least two entries for each list builder based on content type.

[2021-07-12 08:36] NelsonRicardo opened #390 "Request to Automate Updating Wikivoyage Expedition Statistics"
Conversation started at https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Wikivoyage_Expedition_Statistics.

Wikivoyage destination articles have a type and a status. These are specified using a single template that specifies both type and status and places the article into two categories. For example, https://en.wikivoyage.org/wiki/Caldas_da_Rainha has the {{starcity}}

[2021-07-12 11:07] kelson42 commented on #390
@audiodude Does that sounds doable?

[2021-07-27 03:26] audiodude commented on #390
Hi @NelsonRicardo and @kelson42, I'm reading through the discussion on wikipedia and this issue, but I don't think I understand exactly what the inputs and outputs of a wikivoyage bot would be. My first impression is that this would be a custom workflow that would be independent of our Quality/Importance ratings.

[2021-07-28 05:46] audiodude opened #392 "Stop adding "<project> articles by quality" category to "<project> articles by quality log" pages"
The bot creates logs like this one for the [Cultural Heritage of Serbia](https://en.wikipedia.org/wiki/Wikipedia:Version_1.0_Editorial_Team/Cultural_Heritage_of_Serbia_articles_by_quality_log).

In the process, it adds that log page to the [Category:Roman military history articles by quality](https://en.wikipedia.org/w/index.php?title=Category:Roman_military_history_articles_by_quality&action=edit

[2021-07-28 05:50] audiodude opened #393 "Random article in WikiProject (optionally with given quality/importance)"
This was suggested on [English Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Suggestion:_random_article_from_these) and isn't a bad idea for a feature for the website.

The three inputs would be: WikiProject, Quality, and Importance, with all of them being optional. We then redirect the user to a the requested wikipedia article.

[2021-07-28 08:55] kelson42 commented on #393
Interesting and probably useful idea, even if on the edge of the project scope. Should be pretty easy to implement and probably worth a try.

[2021-07-28 09:02] kelson42 commented on #392
@audiodude This category doesn't exist anymore since 5 years! You mean an other one I guess?

[2021-07-28 09:03] kelson42 commented on #390
@NelsonRicardo I agree with @audiodude, we should really have a look to your request. Any reason to close the ticket and not go further on?

[2021-07-29 02:31] audiodude opened #394 "Abstract interface for Builder Modules"
According to the first item in #370, we need to have code in the repo for Builder Modules, which are units of code (modules) that provide a method for validating user input (params) and calculating the selection from those params. Per #370, there is one Builder Module to many instances of Builders, which are user input params and metadata that are stored in the database.

It seems that we could be

[2021-07-29 02:52] audiodude opened #395 "Implementation for Simple list builder module"
Given the AbstractBuilder in #394, we need an implementation of the Simple list module.

It should take as its parameters:

[code]

These parameters will be stored in the database when the Simple builder is saved from the frontend.

The `build` method will simply unpack those parameters and return concatenated bytes as a TSV, for content_type = 'text/tab-separated-values'.

The `validate` method w

[2021-07-29 02:56] audiodude commented on #383
In light of our overhaul of the Builder/Selection models (see #391), this methodology needs to be changed.

For now, we just need a method that saves the "builder" created by the frontend. For Simple builder modules, the builder consists of the user_id, name, project and list of articles (params).

This method should live in the `wp1.logic.builder` module (which doesn't currently exist) and simply

[2021-07-29 04:17] audiodude opened #397 "Fix database schema for timestamps in new WP 1.0 tables"
The new database tables, in the YoYo migrations, that contain timestamps have been defined as BINARY(20) which represents a timestamp like: `2021-07-28T21:22:23Z`.

However, the traditional format for timestamps in the WP 1.0 database is BINARY(14), which strips the punctuation and results in a timestamp of `20210728212223`.

This should be fixed.

[2021-08-01 19:55] #394 closed

[2021-08-04 18:27] mahakporwal02 opened #399 "List creation error displayed appropriately on the frontend"
The error message displayed on entering forbidden characters aka ["#", "<", ">", "[", "]", "{", "}", "|"] in the `items` form field in http://wp1.openzim.org/#/selection/lists/simple/new is incorrect because the the API fields are wrong and they have changed their meaning. Request being sent from `CreateSimpleList` to `/selection/user` should be edited.

[2021-08-04 19:14] audiodude commented on #399
This is for error display.

[2021-08-04 19:15] audiodude commented on #399
@mahakporwal02 Please update this issue with a description of the problem (the API fields are wrong and they have changed their meaning) and possibly the proposed solution.

[2021-08-04 20:10] #395 closed

[2021-08-05 16:27] #399 closed

[2021-08-06 12:10] kelson42 opened #402 "Service should require HTTPS"
Service is currently available via HTTP and HTTPS at wp1.openzim.org. Considering now that we transmit secrets via HTTP, the service should run only on HTTPS and the HTTP should be redirected to HTTPS.

[2021-08-07 18:10] audiodude opened #404 "Create a wp1-materializer worker in the workers Dockerfile"
Selection materialization should be an asynchronous task, because in general it can be rather expensive. Even though this is not the case for Simple lists, we will still materialize them asynchronously in order to share the infrastructure with the list builders we will create in the future.

For this task, we should add a new rq queue called `wp1-materializer` to the supervisor.conf file so that i

[2021-08-07 18:11] #402 closed

[2021-08-07 18:15] audiodude opened #405 "Create functions that materialize selections using RQ"
Given that the work to materializes selections will be async, as specified in #404, we also need functions that take in a Builder class and a builder model and queue up a job for materializing the selection in RQ.

These will be similar to the functions already in queues.py, and could possibly live there.

[2021-08-07 18:17] audiodude opened #406 "Make sure that the MyLists display accurately reflects simple lists"
The page should do the following:

- List all available formats, not just TSV/XLS
- List only the formats that are currently available/materialized, with a "In progress" display in the place of the URL copy for formats that are not available.
- Allow for copying the URL of each format

Additionally, this requires an API method for returning the appropriate data in the right format.

[2021-08-08 20:03] #404 closed

[2021-08-10 17:40] #383 closed

[2021-08-13 17:58] #397 closed

[2021-08-16 23:00] #406 closed

[2021-08-17 18:18] #405 closed

[2021-08-17 18:21] audiodude opened #415 "Return builder selections in deterministic order"
I've noticed that while the nosetests are passing on CI, they sometimes break for me when running locally. And we have also seen the reverse. I think it is because the selections for the builders are not being returned deterministically. We should return them from the get_lists method in alphabetical order by extension.

[2021-08-22 22:14] #415 closed

[2021-08-23 05:11] audiodude opened #423 "Integrate openzim/docker-publish-action"
Per comments on #420

[2021-08-23 07:14] Popolechien opened #424 "Does not find "Knots""
It's all in the title. There's a [Wikiproject Knots](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Knots), but the tool does not seem able to retrieve articles from that project (does not appear on the project list)
![image](https://user-images.githubusercontent.com/21675885/130405881-f63f3680-938b-4be7-a153-d86ea531d7a0.png)

[2021-08-23 07:16] kelson42 commented on #424
Probably the project "Knots" does not have asked to get the WP1 bot going through its articles.

[2021-08-23 07:18] Popolechien opened #425 "Tool should exclude redirects or understand that the target page is the actual wikiproject"
Looking for Beyoncé I am offered two choices.
![image](https://user-images.githubusercontent.com/21675885/130406123-c705cf87-dbcd-44ae-8a00-8469a3949099.png)

 One of them, however, is a simple reidrect and returns 0 articles
![image](https://user-images.githubusercontent.com/21675885/130406162-62ec6bd9-5d7d-431e-abe5-9f274c5d9e93.png)

Instead of 369:
![image](https://user-images.githubuserconten

[2021-08-23 07:26] Popolechien opened #426 "One should be able to populate items in the manual selection tool directly from a project identified in the "project" tab"
At this stage I do not know how I can generate a list of items, unless I copy/paste each article by hand (unpractical).

If it is, in fact, possible, then this should be listed along with the examples e.g.
Eiffel_Tower
Statue_of_Liberty
Wikiproject_dogs

[2021-08-23 07:31] Popolechien opened #427 "Make result tables more actionable"
When searching for a project I get the standard result table, with no indication as to what to do with it next
![image](https://user-images.githubusercontent.com/21675885/130407835-b84c63fa-f640-41d4-894b-a8faeb86478e.png)

It would _a minima_ be useful to indicate that the top title will display all articles (e.g. rephrase `Abkhazia articles by quality and importance` with `Display all articles`

[2021-08-23 07:34] Popolechien opened #428 "Cannot export list of articles"
Looking at a list of article brings out a lot of entirely irrelevant informations and not one single actionable action, ie export said list so I can use it in the `Selections` tab

![image](https://user-images.githubusercontent.com/21675885/130408379-dbe953c5-bce0-4995-b8c7-5acccdd22f5f.png)

[2021-08-23 07:42] Popolechien opened #429 "Too much information presented is entirely irrelevant"
There is so much information presented in each table that it amounts to glorified clutter.
![image](https://user-images.githubusercontent.com/21675885/130408693-ddd819cd-c922-4fbd-b2c1-09192040d6fb.png)

Articles probably do not need a link to the talk or history pages but I can understand it follows local Wiki custom to present them as such.
More importantly we have no indication as to what the d

[2021-08-23 09:24] Popolechien opened #430 "Tool correctly identifies redirected project name but fails to find main project"
The main project name is https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Metal . `Heavy Metal` is only a redirect pointing there.

Problem: Searching for Heavy Metal returns the correct table, but searching for Metal does not.

[2021-08-23 10:11] kelson42 commented on #430
Works for me:
![image](https://user-images.githubusercontent.com/1029718/130430292-2822db17-d134-4dfa-bb6f-17940c6df36f.png)

[2021-08-23 10:15] kelson42 commented on #429
The problem here IMO is that you don't do the QA of a Wikiproject.

You need a link to the talk page if you want to re-evaluate it.

We would benefit of a table header yes. If we agree on this, I would recommend to open a dedicated ticket.

[2021-08-23 10:17] kelson42 commented on #428
@Popolechien I think they are not relevant to you because you want to get the list of articles. But the users of this platform are so far Wikipedians, so they are interested in the article themseves and not really in the list of article titles.

[2021-08-23 10:19] kelson42 commented on #428
The export of the selections based on the WP1 assessment is currently handles via openzim/wp1_selection_tool. This is external to this tool. This is something we will change soon but this is a whole project. Once implemented, we would probably be able to propose a "download list" button... but for the moment, I see no urgency to move on this right now.

[2021-08-23 10:22] kelson42 commented on #427
To me a duplicate of #428. You have the whole list of assessed articles at https://wp1.openzim.org/#/project/Abkhazia/articles?quality=Assessed-Class

[2021-08-23 10:24] kelson42 commented on #426
The custom list is a manually defined list. This is the thing we need for many of our partners. A feature, not a bug. Automatically generated will come later.

[2021-08-23 10:24] #426 closed

[2021-08-23 10:25] kelson42 commented on #425
Not sure about how it works, but this looks like a bug indeed.

[2021-08-23 10:27] kelson42 opened #431 "Custom list should be editable"
It seems that currently, once this is created, it can not be changed anymore. Which is an important feature missing.

[2021-08-23 10:35] kelson42 opened #432 "Selection TSV download list should probably better be a redirect"
I think we should provide a redirect because in the zimfarm we need a permalink pointing to the latest version.

I would not to erase or delete an older version at the same time we create a new version in the S3. That could lead to strange consequences if for example someone is downloading the TSV at the very same time.

There is also an other "detail", MWoffliner creates the ZIM filename based on

[2021-08-23 10:38] kelson42 opened #433 "List selections in a form of a table"
Would be better IMO to have the table like in an sheet, something doable easily with https://datatables.net/.

[2021-08-23 10:43] Popolechien commented on #427
@kelson42 Related but distinct from #428 - here it really is just about UX/UI. That I could actually click on elements of the table was a totally random chance finding on my part, which I did probably after the third or fourth time looking at a search result.

The ticket here is about using more descriptive wording when presenting results.

[2021-08-23 10:46] Popolechien commented on #430
@kelson42 No it does not: it should also return pain and simple `Metal` in the list

[2021-08-23 10:48] Popolechien commented on #426
Please describe the use case because as far as I know _my_ partners are looking to generate zim files with the least possible effort and this tool does not allow for this.

[2021-08-23 11:04] kelson42 opened #434 "Add indication (spinner or similar) that selection is being computed"
For the moment, just after creating the selection, nothing is doable and this is unclear why. We should help the user to understand, he has to wait before being able to download the TSV.

[2021-08-23 12:19] Popolechien commented on #424
Looks like the project isn't listed by the WP1 project on WP.

[2021-08-23 12:19] #424 closed

[2021-08-23 12:36] kelson42 opened #435 "Think about how to make a comment"
I think it will be soon necessary to allow to put a comment in a list. This could be necessary for a user or even the WP1 engine. The challenge is that "how?" because we need a formating rule which secure there won't be no conflict with a potential article.

[2021-08-23 12:38] kelson42 opened #436 "Reports about bad/wrong articles"
We need a way to report/act on wrong articles.

We could:
* Comment wrong articles
* Include them anyway in the selection
* Rremove them automatically from the selection

What even happen we should report about them somehow. For the moment I see nothing looking like such a report.

[2021-08-23 13:15] Popolechien commented on #436
Can confirm: I created a list where one of the entries had an obvious typo which would return no article whatsoever, but did not get a notification.

[2021-08-23 18:04] audiodude commented on #435
I think we can use shell style comments, lines starting with `#`, because the number sign is not a valid character in article names. Something like:

[code]

We can pre-process the list to remove the comments and the empty lines when "materializing" to a selection.

[2021-08-23 18:04] audiodude commented on #436
Is this a duplicate of #373?

[2021-08-23 18:07] audiodude commented on #434
I think we need a more general system for tracking the status of list materialization. We should display an entry for a TSV that is currently queued to be materialized, but has not yet started, and a different display for if materialization is in progress. Something like what we have with manual update progress. It could even be extended to allow the Builder module to update the status, so that a

[2021-08-23 18:08] audiodude commented on #433
I disagree. I don't think having the list as a table is useful, since there is only one column. Having it in a textarea makes it easily editable, selectable, and copy/pasteable.

[2021-08-23 18:09] kelson42 commented on #435
Sure about the number sign? Look at https://en.wikipedia.org/w/index.php?title=%EF%BC%83MeToo&redirect=no for example!

[2021-08-23 18:09] kelson42 commented on #436
Yes

[2021-08-23 18:10] #436 closed

[2021-08-23 18:11] kelson42 commented on #434
@audiodude Agree, a status string woukd be better, preciser and extendable.

[2021-08-23 18:12] audiodude commented on #432
So you're saying, we should keep all versions in s3/local database, but provide an API URL that redirects to the latest version?

You're right that the UUID of the tsv is used as the filename because the list name is not unique, neither across all selections or even for the user's selections.

We could create file paths like: `/selections/org.openzim.wp1.simple/<UUID>/list_name.tsv` would that be

[2021-08-23 18:13] kelson42 commented on #433
@audiodude It seems to me there is a misunderstanding, this ticket is about the list of selections, not about the list of article titles.

[2021-08-23 18:15] audiodude commented on #435
Yes. Notice that the URL that you linked has the "#" URL encoded. It is not possible to reference the name of that article any other way. Also, I'm going off the reference here: https://en.wikipedia.org/wiki/Wikipedia:Article_titles#Special_characters

[2021-08-23 18:16] kelson42 commented on #432
@audiodude This woukd indeed offer a proper solution to this ticket, assuming the uuid change from one selection to its nect update.

[2021-08-23 18:20] kelson42 commented on #435
It is encoded in the URL (normal) but not in the articleID in the DB probably... and not in our list.

[2021-08-23 18:21] audiodude commented on #433
Ah okay.

The only problem with having the selections in the form of a table is that there can be N rows for each builder, one for each selection. But I'm sure we could do something with rowspan or something.

[2021-08-23 18:23] audiodude commented on #435
Right now, the list validation will not let you put number signs in list items, based on the reference I cited.

[2021-08-23 18:27] kelson42 commented on #433
To start, I would just make one row per selection/list with for example the following columns:
* name of the selection
* builder id
* creation date
* last update date
* last generation date
* update button/icon
* delete button/icon
* download tsv button/icon

[2021-08-23 18:28] kelson42 commented on #435
Ok, then perfect to me :) Quite happy the solution is that simple. Already spent a bit of time today thinking about an alternative because assuming the # character would not work.

[2021-08-23 18:32] audiodude commented on #433
I'm not sure the builder id is relevant. Do you also suggest getting rid of the URL copy functionality?

[2021-08-23 18:33] audiodude commented on #433
I assume we would also want a "delete" button/icon per #431?

[2021-08-23 18:35] kelson42 commented on #433
Not sure, kind of assume that users are skilled enough to make mouse right click and copy link... but might be wrong. That said, most of the users won't even need to do so... They will just download the TSV.

[2021-08-23 18:42] kelson42 commented on #433
For the delete button, i believe it might be better to make it available in the edit mode to avoid any confusion and click by error.

[2021-08-24 20:02] audiodude commented on #336
The basic use case outlined in this issue is done!

[2021-08-24 20:02] #336 closed

[2021-10-14 12:21] philoserf opened #442 "wp10 bot is down: API Token Parameters deprecated"
https://www.mediawiki.org/wiki/MediaWiki_1.37/Deprecation_of_legacy_API_token_parameters

[2021-10-14 12:26] kelson42 commented on #442
@audiodude Seems urgent!

[2021-10-16 17:12] #442 closed, assigned to audiodude

[2021-10-16 17:13] audiodude opened #443 "Handle the case when the cookiejar become corrupted"
Based on the investigation in #442, it looks like the cookiejar can become corrupted somehow (not sure how). When that happened, it was impossible to load the cookies or recover from that state. We need to handle the cookiejar loading exception and wipe the cookiejar in the case that happens.

[2021-10-17 08:16] kelson42 commented on #392
@audiodude I'm a bit worried about this (kind of) bug because it seems to "drive crazy" editors. It is not good for the WP1 project "karma". Any chance that it could be quickly fixed?

[2021-10-17 13:47] kelson42 commented on #443
Considering the impact and our lack of autodetection capablity (in case of corrupted jar). This feature request looks to have a great potential ratio work/impact :)

[2021-10-20 18:15] audiodude opened #445 "Add {{Automatically generated}} template to log pages to avoid file renames"
See https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Block_LuckyRename

[2021-10-20 18:15] #392 closed

[2022-01-21 06:52] audiodude commented on #433
I've started recreating #437 in a clean branch. I tried using datatables, but it doesn't work with Vue because Vue rewrites the DOM at will and the data stylings won't stick.

[2022-01-21 06:52] audiodude commented on #433
Though maybe I can re-apply the datatables treatment when the data actually changes?

[2022-01-21 06:55] kelson42 commented on #433
@audiodude I would recommend to do what ever is necessary to implement the ticket in a superseeding PR.

[2022-01-22 20:13] audiodude opened #448 "Use docker image for nosetests db"
Currently, the nosetests run against a "local" mysql/mariadb instance. That is, it runs on the same host as the development environment. This works okay in CI, since we can spin up a mysql service that runs locally easily enough. However, it creates an extra burden on the developer to install a local database server. Not only that, but when developing locally, switching between developing the web

[2022-01-23 22:01] audiodude opened #450 "Upgrade cypress version"
We're on 6.8 and the latest is 9.2

[2022-01-23 22:02] #433 closed

[2022-01-23 22:12] audiodude opened #452 "Lots of npm deprecation warnings when building the app"
Should look into these, lest it stop working suddenly.

[2022-01-24 00:04] #423 closed

[2022-01-25 11:29] kelson42 commented on #431
@audiodude Thx for the last PR, the simple selection seems to start to work. But could please add a delete button so we can close this ticket please?

[2022-01-25 11:37] kelson42 opened #454 "Backup WP1"
We should backup the database, we start to have too many sensitive data in it.

We have standard way of doing so at Kiwix, but I'm unsure about what exactly (files, dbs, etc....) should be backed-up.

[2022-01-25 11:37] kelson42 commented on #454
@audiodude Would you be able please to make a list of assets we should periodically backup.

[2022-01-31 19:07] audiodude commented on #454
@kelson42 The only meaningful data the WP1 site stores is in the `s51114__enwp10` database on Toolforge. I assume this database is regularly backed up independently of anything we do, but I don't know for sure.

The Redis instance only stores ephemeral data like job queues and progress counts.

Obviously with the new selections data, we are storing materialized selections on AWS S3, but people don

[2022-01-31 21:29] audiodude commented on #454
Looks like they have a primary-replica setup, but they don't do offsite backups. They recommend mysqldump.

https://wikitech.wikimedia.org/wiki/Help:Toolforge/Database#ToolsDB_Backups_and_Replication

[2022-02-01 05:26] kelson42 commented on #454
@audiodude @rgaudin IMO we should add our backup companion to backup mysql DB "s51114__enwp10".

[2022-02-08 16:18] #454 closed

[2022-02-08 19:59] kelson42 commented on #454
@rgaudin Thank you! What are the rationals to not putting it in the `docker-compose.yml`, with best will, I hardly can find one :(

[2022-02-08 20:29] rgaudin commented on #454
- the database is not defined in the compose. It's hosted on a different system within wikimédia cloud. No reason to include a backup of something not in the recipe.
- the compose is a somewhat generic recipe of wp1 deployment. Backup is not required nor involved in running wp1. It's specific to our deployment.

[2022-02-08 20:31] audiodude commented on #454
I agree. If, for example, you went to deploy the WP1 server and the backup image process failed to start, would you consider that a failure of WP1 deployment?

[2022-02-08 20:31] audiodude commented on #454
btw, thank you @rgaudin !

[2022-02-08 20:41] kelson42 commented on #454
@rgaudin the DB engine is not provided by us only for legacy reason (this tools was first on toolserver and then toolforge which was/is a shared/limited infrastructure)... and actually we are OK continuing like this because it makes on service less to take care.

@audiodude For the rest the backup should be a *required* piece of infrastructure. If a backup system does not work properly, the whole

[2022-02-08 20:47] audiodude commented on #454
If we consider backup to be a critical part of a functioning system, then you've answered my concern and I _do_ agree that it should be in docker-compose. It should be trivial to add a few lines to docker-compose based on the docker run line that @rgaudin provided.

[2022-04-02 02:36] kelson42 opened #461 "[URGENT] Move server to debian-11.0-bullseye"
We have currently a debian-10.0-buster.

[2022-04-02 02:40] kelson42 commented on #461
We need to keep our infra up2date and on the top of this, Wikimedia requires us to do it befure June 2022.

What I could propose is:
* Keep this system running
* Create a new instance
* During a WE make the move
* Delete the old instance

[2022-04-02 03:32] audiodude commented on #461
As far as I understand, we don't actually have anything running on the toolforge instance. The only thing running there is the "old" web app, which is currently just a redirect to wp1.openzim.org. If we let it get deleted, it would just mean that the redirect stops working.

We could even put a notice on the old web tool that says "This URL will stop working after June 1, 2022. Please update your

[2022-04-02 03:33] audiodude commented on #461
To put it another way, I'm not sure there's anything to be migrated, and I'm not sure it's necessary to install a new "web app" on Debian Buster that just redirects to the new wp1 web app.

[2022-04-02 04:43] audiodude opened #462 "Bot marking articles from 2016 as "new" in quality logs"
Message from https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index :

This is odd, because the article was created and got a video games talk page template in 2010, was last edited in September 2021, the last action on the talk page was a page move in 2016.
This is consistent, though, because that same day the bot also listed e.g. [HyperZone](https://en.wikipedia.org/wiki/H

[2022-04-15 12:40] kelson42 commented on #461
@audiodude We maybe have two problems: one with toolforge and one with VPS, but both about deprecated OSes.

See https://phabricator.wikimedia.org/T306082

We don't have a lot of time.

@audiodude I would be ready to setup a new VPS box to allow you to move smoothly to a new infra. Would that be OK? I think it would be good as well to create a phabricator to remove our toolforge account, what do y

[2022-04-15 14:52] audiodude commented on #461
@kelson42 Okay I understand better.

If you want to set up a new VPS box, I would be happy to SCP over the config files and run the production install. We would also need to change the DNS of wp1.openzim.org once the new box is up and running.

I can file a phabricator task to shut down our toolforge account, as long as that doesn't mean we lose access to the toolforge db.

[2022-04-17 17:34] kelson42 commented on #461
@audiodude I have created a new VM instance called `mwcurator` to replace `wp1`. Unfortunatly, there is still a problem with the external volume. I have assigned you the Phabricator ticket as beside the volume stuff, I guess the work will be on you.

Concerning the toolforge account, I'm in favour now to delete it. We migrated to VPS 3 years ago (already!), therefore I guess that if we needed stil

[2022-04-17 17:44] audiodude commented on #461
@kelson42 So I assume I should follow the phabricator task and wait for the volume issues to be resolved, then migrate over the wp1 stack?

I don't think we can delete our toolforge account, because my impression of the docs is that a toolforge account is required for replica and application database access, which we are definitely still using. I'm not 100% sure though.

[2022-04-17 17:58] kelson42 commented on #461
@audiodude Yes, I will ping you as soon as I have created the volume and made it available to the new `mwcurator` instance.

For the Toolforge, I you might be right or not... I'm really overasked here. Maybe this is worth a ticket just to ask. IMO would be better to have a clean situation and not leave our old stuff (at least the files) just somewhere lon Toolforge ike this.

[2022-04-22 18:57] kelson42 commented on #461
@audiodude Finally the volume is there and mounted on `/data`. I'm migrated the data for `wp1_selection_stuff` and will take part of that part. So you can move your stuff

[2022-04-23 07:33] kelson42 commented on #461
@audiodude I have installed `docker` and it is ready to go. In addition, I have migrated the data+container of `wp1_selection_tools` to `mwcurator`. I'm testing if it works accurately, but so far so good. As a consequence from my side, "my stuff" is migrated.

[2022-04-23 07:50] kelson42 commented on #461
@audiodude I recommend to put the maximum of interesting stuff (like the git repo for example) in `/data`. Doing so, next time we have to change the VM, we will just have to attache the external volume to the new VM and no much work would be then left to do.

[2022-04-23 18:02] audiodude commented on #461
@kelson42 I've moved the necessary directories to the mwcurator /data/ directory and I've verified that I can run the bot and the web interface successfully. What's left is moving wp1.openzim.org DNS to point to the new IP address, but I can neither find that address, nor do I know how to point openzim.org addresses. Any help would be appreciated, thanks!

[2022-04-23 18:03] kelson42 commented on #461
@audiodude Great, this is a floating IP. Do you want me to make it point to the new server NOW?

[2022-04-23 18:07] audiodude commented on #461
@kelson42 yeah if you're available do it now, I'll hop on Slack to coordinate and we can roll back if there's problems.

[2022-04-23 18:39] #461 closed

[2022-07-25 03:25] audiodude opened #472 "Nosetests takes 15 minutes to run on local machine"
Currently on my macOS machine the nosetests take 15 minutes to run. I've run the nosetests cprofiler on the suite and it looks like all of the time is spent blocked on database reads, specifically for setting up and tearing down the test database.

Loosely following the advice in [this article](https://vladmihalcea.com/how-to-run-database-integration-tests-20-times-faster/), I've created a MySQL i

[2022-07-25 22:19] audiodude commented on #472
Also need to update the README once these changes are live.

[2022-07-27 09:52] kelson42 commented on #432
@audiodude This ticket is pretty important to reuse lists in farm.openzim.org. If OK please put it in WPOD #0

[2022-07-27 09:52] kelson42 commented on #338
@audiodude Should we keep this ticket open? It seems the job is done so far to me.

[2022-07-28 05:34] audiodude commented on #432
Added

[2022-07-28 05:36] audiodude commented on #338
This issue is really more of a "project" in github terminology, where each of the sub steps could be its own issue. It is tracking the steps for a contributor to add their own selection methods to WP1. It was an original goal of WP1 selection, but has been significantly put on the "back burner".

[2022-07-28 06:11] kelson42 commented on #338
@audiodude At this stage, the documentation about how to build a selection module is probably the only missing part. Seems important to me to ease onboarding of third parties.

[2022-07-28 15:21] audiodude commented on #338
My apologies if this isn't clear, but the real goal of this issue is that the potential contributor could write _only python_. So it encompasses a system where the parameters of the module are declared or inferred and the relevant UI is generated automatically.

Otherwise, step 4.5 would be "The user codes the frontend of the module in Vue Javascript and integrates it with the Python".

Really, wi

[2022-07-31 03:41] #472 closed

[2022-08-10 20:47] audiodude opened #474 "Results aren't consistent between pages in article listings"
From the [bot's page on Wikipedia](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Batch_download?):

We should look into the SQL for the queries this runs and add a sort parameter to make the ordering stable.

[2022-08-10 22:21] #310 closed

[2022-08-13 15:36] audiodude opened #476 "Frontend of WP1 tool for inputting selection as SPARQL query"

[2022-08-13 15:37] audiodude opened #477 "Ability to type SPARQL query directly or input a query.wikidata.org link"
The wikidata link would look like:

https://query.wikidata.org/#%23Number%20of%20humans%20in%20Wikidata%0A%23title%3A%20Number%20of%20humans%20in%20Wikidata%0ASELECT%20%28COUNT%28%2a%29%20AS%20%3Fcount%29%0AWHERE%20%7B%0A%20%20%3Fitem%20wdt%3AP31%20wd%3AQ5%20.%0A%7D

[2022-08-13 15:39] audiodude opened #478 "Ability to choose between "simple" selection and SPARQL selection in the UI"
We need to add a tab in the subselection menu for "SPARQL selection"

[2022-08-13 15:52] audiodude opened #479 "Backend for using to materialize query into article list"
We will use URLs such as https://query.wikidata.org/sparql?query={SPARQL}  to access the wikidata API. This endpoint returns a nested list of results based on the SPARQL query. We will need to un-nest these results and come up with a list of article names.

One possible pain point is that an arbitrary SPARQL query, just like an arbitrary SQL query, can select many different items from the query an

[2022-08-13 15:54] audiodude opened #480 "Research whether ZimIt is an appropriate Zimfarm for Wikipedia On Demand"

[2022-08-13 15:55] audiodude opened #481 "Create a form inside of WP1 for creating ZIM files from article selections"

[2022-08-13 15:56] audiodude opened #482 "The Zimfarm form must contain any additional metadata that is required for the ZIM file"

[2022-08-13 15:56] audiodude opened #483 "The Zimfarm form should be able to be submitted to the backend API of the Zimfarm installation to create a ZIM file"

[2022-08-13 15:59] audiodude opened #484 "The user should be presented with a URL of their ZIM file to download it"
We might also consider emailing the user when the ZIM file is ready, since it might take a while.

For this purpose, we could modify our OAuth permissions to include email address. It is unclear what would happen to users who are already signed in though. As part of the process, we may wish to sign out all users.

[2022-08-13 17:11] audiodude opened #486 "Clean up ImportError checks for wp1.credentials in production/test code"
After #473, there should always be a `credentials.py` file. In previous iterations, the `credentials.py` file was deleted in order to run the nosetests.

Because of this, there is lots of code like this:

[code]

The point of this code is to provide default values and fallbacks when the credentials file can not be imported. We should clean these up, not only because it is ugly, but because the Imp

[2022-08-14 01:12] audiodude opened #487 "Optionally add ability to see past versions of materialized selections"
The current behavior of the selections list in the frontend is to display all selections that have ever been materialized. When a builder is updated, a new selection is added to that list and the old selections remain.

With #432, this will change to only showing the latest version of a given materialized selection per builder. It's possible (though unlikely) that users were depending on accessing

[2022-08-14 02:19] audiodude commented on #487
There could be a problem here with builder names. If the builder is updated and the name changes, past materialized links will no longer work.

[2022-08-14 02:20] audiodude commented on #487
We should potentially store the object key of the selections in the table with them. That way we can update the schema of those selection names without moving database rows/versions around.

[2022-08-22 00:29] #432 closed

[2022-08-27 00:57] audiodude opened #490 "Better handling of logout in different window"
For testing of deleting builders, I tried logging out in a different window so my authorization would not be valid and I would get a 404. This worked, and I got the error message, but the site was pretty "wonky" after that.

We should maybe check for login status in some kind of pre or post navigation hook, and return the user to the homepage if they've gone from logged in to logged out.

[2022-08-27 01:03] audiodude opened #491 "Check the return value of s3 object deletes"
Currently, s3 object deletes in wp1/logic/selection.py doesn't check the return value of the s3 RPC and always returns true. It would be nice to check the return value, though it seems excessively complicated to do so. Either way, it's not particularly important because it's not clear what we would do if any of them failed besides log it (we don't want to fail the whole deletion process since s3 o

[2022-08-27 01:15] audiodude opened #493 "Write Cypress tests for builder deletion"
This is blocked by #450

Builder deletion was added in #492

[2022-08-27 01:59] #435 closed

[2022-08-28 06:35] kelson42 opened #501 "Selection ids are incremental"
This is not recommended to have incremental primary ids. We should better have UUI... or any (big enough) random id.

[2022-08-28 06:42] kelson42 opened #502 "Misleading 404 error"
The web interface returns the same error 404 for unauthorized and unexistant selection. See:
![image](https://user-images.githubusercontent.com/1029718/187061248-07f579ad-8313-4bba-bd76-a2064b23ea4a.png)

This seems wrong, if the URL is correct and points to an existing selection it should be a [403 Forbidden](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403) error. Otherwise the curre

[2022-08-28 06:43] kelson42 opened #503 "Unable to edit large selections"
Here is my list of selections:
![image](https://user-images.githubusercontent.com/1029718/187061077-1413d9c2-3734-4158-95e6-ad9b3401c475.png)

See on the pointer and the url in the bottom left corner.

Then when I click on the "Edit" button I get:
![image](https://user-images.githubusercontent.com/1029718/187061106-ee6c7257-54ce-4470-860a-ecf1f85856bd.png)

I would like to edit my list instead of

[2022-08-28 15:46] audiodude commented on #502
The idea behind returning 404 for unauthorized access is that you don't reveal to the "potential attacker" that the id is valid. The ids of valid selections are thus properly hidden from discovery as a matter of added privacy.

It's the same as ssh prompting you for a password even when the user doesn't exist, because otherwise it would reveal which users exist or not on the system.

[2022-08-28 15:48] audiodude commented on #501
I thought that incremental primary ids were discouraged for sites like YouTube and Twitter, where there is public interest in "how many youtube videos there are", "how many tweets there are" and "downloading every video/tweet".

I don't think any of those are concerns for this project.

[2022-08-28 15:49] audiodude commented on #503
Yes, it's probably related to the size of the builder. We have never tested the system on actual Simple builders with thousands of selections as you described. If there is some kind of error in the database, the retrieval method is probably returning `None` which the frontend interprets as 404.

[2022-08-28 16:00] audiodude commented on #502
Additionally there is a technical reason for this behavior. The 404 represents the error "There is no builder with that I'd and your user id found". It is one query. I guess the alternative is wiring the builder by I'd and then checking the user id of the return value.

[2022-08-28 19:32] kelson42 commented on #502
This is then a workaround around a deeper weakness which is #501

Indeed, simple all-in-one SQL requests are efficient, but - alone - don't allow to provide a helpful error message or diagnostic. An other possible approach is to run this, and run the other requests to propose a propser diagnostic - only if there is not result.

Here the problem I reported is not that bad, it is just that the behav

[2022-08-28 19:35] kelson42 commented on #501
To me, the problem is mostly:
* a conceptualy one because I guess this is the primary key of a table. We should better not mix a technical id (like an autoincremented it) and a sementical one (the object id)
* a security concern because if the id can be guessed, half of the job to read objects which are not yours is done.

Here the problem I reported is not that bad, it is just that the behaviour

[2022-08-28 19:38] kelson42 commented on #503
Lets see what is the root cause, but this kind of size is normal. Here are the lists which are currently stored in git which could/should be mixed in the WP1 selection tool https://download.openzim.org/wp1/enwiki_2022-08/customs/.

[2022-08-30 14:15] audiodude commented on #501
To be clear, I wasn't taking a stand for the current design. I only wished to explain it so that it could be discussed further. I'm more than open to doing things "by the book", but my understanding was that for small applications like ours, primary keys are convenient to use as visible identifiers.

There is no object id for a builder, which is what you're really editing. This might be a larger p

[2022-08-30 14:20] audiodude commented on #502
Again, I wasn't taking a stand for the current design, only explaining it so that it could be examined more closely.

The only problem I see with separating "no builder for this user" (403) and "no builder with that ID" (404) is that currently the API method that the Flask code calls returns a simple Builder/None value. It will complicate things to have this internal API have to return some kind o

[2022-08-30 15:11] audiodude opened #504 "Nosetests still have dependencies on local MySQL and local Redis"
This is probably related to #486.

Running the nosetests on a fresh checkout, even with the `docker-compose-dev.yml` graph running and the `docker-compose-test.yml` graph running, results in several connection errors.

We should make sure the code doesn't depend on a local MySQL like it used to (see #448) and we should install a Redis instance in `docker-compose-test.yml`

[2022-08-30 15:12] audiodude commented on #448
This was largely addressed in #473. Remaining issues are being tracked in #504

[2022-08-30 15:12] #448 closed

[2022-09-02 20:07] #504 closed

[2022-09-04 07:58] kelson42 commented on #503
@audiodude Any clue about the root cause of the bug?

[2022-09-04 13:54] audiodude commented on #503
Yes. The data is stored as JSON in a BLOB column, but the maximum size of such a datatype is 65,535 bytes (64 K) so the data gets truncated and the resulting JSON is likely invalid.

The fix is to store as either MEDIUMBLOB (16 MB) or LONGBLOB (4 GB). I believe LONGBLOB is the better choice because as far as I know the only overhead is an extra bit to store the length value, which should be incons

[2022-09-04 13:56] audiodude commented on #503
Also once the database is migrated and the datatype is fixed, the previous data will remain truncated and be unrecoverable of course. Don't know whether you would prefer to "auto delete" this junk or handle it somehow in the web server with a 500 response and a message of "Sorry, your selection was found but the data was not retrievable"

[2022-09-04 14:10] kelson42 commented on #503
@audiodude yes, LONGBLOB, but maybe it would be good to have a kind of artificial and configurable maximum sixe. You can remove the broken entry.

[2022-09-05 03:10] #503 closed

[2022-09-05 07:17] kelson42 commented on #503
@audiodude Is the patch rolled out? Because I have tested again with https://github.com/openzim/wp1_selection_tools/blob/master/customs/solarspell/wikipedia-for-schools_en.tsv and it fails, see https://wp1.openzim.org/#/selections/simple/31

[2022-09-05 16:47] audiodude commented on #503
I deployed the fix just now. It wasn't deployed immediately because the WP1 bot was in the middle of its update (it happens from 0:00 - 8:00 UTC daily).

Seems like we need some way of coordinating releases, since this has happened before.

[2022-09-05 16:49] kelson42 commented on #503
Yes, would that be possible to close the ticket only when deployed.

[2022-09-05 16:58] audiodude commented on #503
The problem with that is it messes up the github workflow of putting "Fixes #xyz" in the PR

[2022-09-05 17:07] kelson42 commented on #503
@audiodude You are right, I forgot about that detail. Maybe we could link the slack channel so each time a bug is fixed and when a service is restarted, 5en we get a notification on Slack.

[2022-09-05 18:55] #434 closed

[2022-09-05 18:56] audiodude commented on #434
I'm going to deploy this in the next 10 minutes

[2022-09-05 19:00] audiodude commented on #434
Deployed

[2022-09-05 19:14] kelson42 opened #509 "All lists are available for everybody via redirect"
There is no authentication (which is logic), but because the URL schema is predictable then they can all be checkout. See `https:/api.wp1.openzim.org/v1/builders/36/selection/latest.tsv` which does not belong to me.

Example of the #501 described weakness

[2022-09-05 19:17] kelson42 commented on #434
Seems to work fine to me!

[2022-09-05 20:06] audiodude commented on #509
This is by design, because I assume the selection is being accessed by a third party site (zimfarm) that does not have login credentials.

Do you want to implement OAuth? 🙃

Making the IDs non monotonically increasing would only mask this problem, because you could still access any builder if you know the ID.

[2022-09-05 20:08] audiodude commented on #509
That is, the selections would be "unlisted" but not "private" to use YouTube terminology.

[2022-09-05 20:09] kelson42 commented on #509
It's good to have the link with authentication but this is bad that all URLs can be guessed. Closing this ticket because this is basically a duplicate of #501, but now we have a real case problem because of the original weakness.

[2022-09-05 20:10] #509 closed

[2022-09-06 20:12] #501 closed

[2022-09-17 18:44] audiodude commented on #476
For this task, I'm going to prioritize creating a SPARQL selection, materializing a placeholder list from that selection (that just echos back the params), and being able to edit and delete the selection as well. This involves a bit of work to generalize the create/update of builders. The new input will be under a "hidden" URL so it will not be visible to users just yet, and existing selections sh

[2022-09-18 01:14] audiodude opened #515 "Allow for # style comments in SPARQL queries for selections"

[2022-09-19 15:03] rgaudin opened #518 "Use openZIM formatting"
I know this is mostly a single-person repo but for the maintenance's sake, harmonizing with the rest of the openZIM codebase would be nice.

- [black](https://pypi.org/project/black/)
- [isort](https://pypi.org/project/isort/) (using `--profile black`)
- [flake8](https://pypi.org/project/flake8/) (with `max-line-length = 88` to match black)

[Sample workflow](https://github.com/openzim/wikihow/blo

[2022-09-19 16:35] audiodude commented on #518
Sigh. The thing I hate about black is it's main feature: it's not configurable. I know that pep8 recommends 4 spaces for indents, but I'm so used to 2 now after working at Google. Code with 4 spaces would be hard for me to read.

Same thing with isort. The standard Google import order is 1) standard libs, alpha sorted 2) library references (like `pymysql`) alpha sorted, then finally 3) local libra

[2022-09-19 16:45] #476 closed

[2022-09-19 16:46] rgaudin commented on #518
Fine with me then.

[2022-09-19 16:46] #518 closed

[2022-09-19 16:47] audiodude commented on #518
Thanks. And to be clear, we do have auto-formatting with `yapf` with pre-commit checks, but thanks for pointing out the workflow, I'll add that too (I noticed with our GSoC student that they weren't running pre-commit and code got merged that wasn't formatted).

[2022-09-19 16:56] audiodude opened #519 "Make SPARQL materialzation work even for queries with large result sets, using pagination"
#517 added support for materializing SPARQL queries. However, it works by only looking at a single page of results. For queries that are expected to have a much larger result set, we should use pagination, which the Wikidata SPARQL endpoint supports.

[2022-09-19 16:57] audiodude commented on #515
This is automatically handled by the rdflib SPARQL parser.

[2022-09-19 16:57] kelson42 commented on #519
Seems really important indeed.

[2022-09-19 16:57] #515 closed

[2022-09-19 16:59] audiodude opened #520 "SPARQL materialization for projects other than en.wikipedia.org"
The SPARQL selection creation form has a dropdown of Wikimedia projects, borrowed from the Simple selection dropdown. However, this selection is not respected and results are hardcoded to come from en.wikipedia.org. We should make this selection matter (it is already plumbed through the builder code).

[2022-09-19 17:00] #479 closed

[2022-09-22 22:09] audiodude commented on #520
The list of projects that is supported by the Wikidata Query Service is here: https://noc.wikimedia.org/conf/dblists/categories-rdf.dblist

We should cross reference this list to our list of projects (for example, `ltwiki` probably refers to our project `lt.wikipedia.org`) and limit the selection to projects that are available.

[2022-09-22 22:17] audiodude commented on #520
Actually that information was taken from https://www.mediawiki.org/wiki/Wikidata_Query_Service/User_Manual#Categories which is describing the "category service" and its limited support for select wikis. It's not clear which projects in general are included in Wikidata Query Service.

[2022-09-22 22:32] audiodude opened #521 "Disable "Create selection" button after first click, put spinner next to it"
To provide feedback that the click has been captured and the request is being processed.

Here's a perfect example of why having two `.vue` files, one for Simple and one for SPARQL, is such a problem, because now this functionality has to be implemented in both places.

[2022-09-22 22:34] audiodude opened #522 "Show spinner in download list when builder is updated"
Currently we only show the spinner the first time a builder is created, when there are no selections available for download.

We should also show it if the Builder has been recently updated, that is, if the Builder `updated_at` time is more recent then the selection `updated_at` time.

[2022-09-23 03:51] kelson42 commented on #520
Worried about that, it seems we might need an upstream ticket here. It shoudl be clear.

[2022-09-23 17:40] audiodude commented on #520
I think the general schema of Wikidata is that it has abstract "entities" that are not tied to any particular Wikimedia project. Some entities have articles in en.wikipedia.org, some have articles in fr.wikipedia.org, some have articles in both and some have articles in neither (I know I've personally encountered plenty of QID entities in Wikidata that don't have a corresponding article in any wik

[2022-09-23 17:47] audiodude commented on #519
I knew I used pagination in the past, but it was by calling the `wbsearchentities` [endpoint](https://www.wikidata.org/w/api.php?action=help&modules=wbsearchentities) of the Wikibase API.

Looking at the [user manual](https://www.mediawiki.org/wiki/Wikidata_Query_Service/User_Manual#Query_limits) for the SPARQL endpoint, it looks like there are hard limits on query execution (60 seconds) and no wa

[2022-09-23 18:22] kelson42 commented on #519
@audiodude Can you please open a ticket first in phabricator? Then, if necessary, we would ping a few people at the WMF.

[2022-09-23 19:26] audiodude commented on #519
I think I need to better understand the use case first before I can open a phabricator ticket. I imagine the first thing they're going to ask me is "what kinds of queries do you expect to run?" and I don't really know the answer. So far, I've gotten the timeout only when running a malformed query that selected every English Wikipedia article. Clearly that's not realistically what we want to do.

W

[2022-09-23 19:29] audiodude commented on #519
For the former, I ran this query for "Count the number of humans who have a birthdate but not a deathdate":

[code]

And it timed out, couldn't even count that many nevermind return their article URLs.

[2022-09-29 01:31] audiodude opened #523 "Don't validate SPARQL selection if query variable is missing and SELECT doesn't include ?article"
We use the 'query variable' in a SPARQL selection to determine what entities the query is selecting and subsequently retrieve Wikipedia URLs for them. This variable defaults to `?article`. We should fail validation if the query doesn't have a query variable specified and it's missing `?article` from the SELECT clause.

We should also probably check that the given query variable appears in the sele

[2022-09-29 01:34] audiodude commented on #519
Any thoughts, @kelson42 ?

[2022-10-01 19:39] kelson42 commented on #520
Obviously. See for example https://www.wikidata.org/wiki/Q105046994 (libkiwix)

Pretty logical indeed.

Yes, but I don't understand how this comment helps with the problem reported first. Does the selectbox is OK? Does your latest PR fix the problem and select articles in the Wikipedia chosen in selectbox in WP1?

[2022-10-01 19:44] kelson42 commented on #519
@audiodude Correct me if I get it wrong:
* Current timeout is short and we don't actually really know so far what would be a proper value for us
* There is no way to deal with pagination.

Do you confirm I get it right? To me the second problem is far more worrying that the first, because how the Wikidata backend is going to deal with large resultset?

[2022-10-01 21:17] audiodude commented on #520
Yes the attached PR fixes the problem. There was no problem with the select box, it was added for the "simple" selection and remains valid in the SPARQL context.

[2022-10-01 21:17] #520 closed

[2022-10-01 21:28] audiodude commented on #519
It's 60 seconds. It seems like that's not enough to generate lists with hundreds of thousands of articles, but I don't really know. That's the other part of your statement: we don't know what would be a good value for us. So this is true.

That's right. From what I can tell, the WDQS streams results until it hits a timeout, which shows up as a Java stacktrace, which it then appends directly in the

[2022-10-02 06:48] kelson42 commented on #519
@audiodude Thx for conforming, I recommend to open two separate tickets. Not sure either what woukf be a proper timeout, but the combination of the two limitations is deadly.

[2022-10-02 19:14] audiodude commented on #519
Okay, added https://phabricator.wikimedia.org/T319150 and https://phabricator.wikimedia.org/T319151 and added you as subscriber to both.

[2022-10-12 01:56] audiodude opened #526 "Provide feedback to the user when materialization fails"
Currently there is no feedback mechanism when selection materialization fails. If it is the first attempt, the download spinner will show in the selection list indefinitely. If it is a later update, then due to #522 the selection will simply be locked to the old version and the user might not even notice.

We should add a field to the selections table, `status`, which holds a JSON object that has

[2022-10-16 20:05] #521 closed

[2022-10-22 20:32] audiodude opened #530 "Stub article counts in Wiki table and portal site don't match"
From https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index:

[2022-10-22 23:06] #530 closed

[2022-10-23 03:26] audiodude commented on #114
Updating with new (buried) code location for custom_tables.pl so I don't have to find it again:

https://github.com/openzim/wp1/blob/d9f81232603ba9ce37d7ff156325aa6fb3d1d0f0/backend/custom_tables.pl

[2022-10-23 03:32] audiodude commented on #114
New requests for this functionality have been filed here: https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Custom_table_updates

[2022-11-02 03:33] #114 closed

[2022-11-02 03:39] audiodude commented on #474
Still broken, see [this comment](https://en.wikipedia.org/wiki/Wikipedia_talk:Version_1.0_Editorial_Team/Index#Pagination_updates)

[2022-11-02 04:09] #474 closed

[2022-11-05 16:19] #522 closed

[2022-11-05 18:43] #523 closed

[2022-11-09 09:25] kelson42 commented on #519
It seems the only thing we can obtain is a longer timeout and this is tracked here https://phabricator.wikimedia.org/T179879

[2022-11-13 11:40] kelson42 commented on #519
@audiodude I propose to remove this task from the project milestone.

[2022-11-13 16:10] audiodude commented on #519
Done, thanks.

[2022-11-13 16:12] audiodude commented on #526
Probably for this, the schema should be that `status` is a first class column on the table, and the error messages are a JSON object, since they can be an arbitrary list of strings

[2022-11-15 17:42] audiodude opened #540 "Upgrade from deprecated vue-cli to Vite for frontend"
The vue-cli project is in maintenance mode, as stated on its homepage: https://cli.vuejs.org/

This means that even if it does receive security updates, it will take longer to get them. We already have a dependabot alert for a package version which is depended on by `babel-loader@8.0.6` (required by `vue-cli@5.0.8`), while the latest babel-loader is v9. It is possible that vue-cli will **never** u

[2022-11-20 18:18] #540 closed

[2022-11-20 19:52] audiodude opened #544 "Make Cypress integration tests run against production build of app"
PR #543 fixes a bug that was found in production with the production build of the frontend Vue app. Because of the way Vite optimizes the code for development versus production, the two "binaries" can be significantly different.

For our Cypress frontend integration tests, we currently run against a localhost dev build. However, it would likely be more effective to run against a production build (

[2022-11-20 22:03] #544 closed